@import url("reset.css");

/*验证码登录*/
.plogin .main-inner{height: 100%;width: calc(100% - .6rem);margin: 0 auto;padding: 0 .2rem;}
.plogin .titile{font-size: .35rem;margin-top: .5rem;}
.plogin .subtitle{font-size: .24rem;margin: .2rem 0;}
.plogin .input-box{border-bottom: 1px solid #F4F4F4;display: flex;align-items: center;height: .8rem;margin-bottom: .3rem;}
.plogin .input-box input{height: .35rem;flex: 1;border-left: 1px solid gainsboro;text-indent: .2rem;}
.plogin .addcode{color: #B8B8B8;border: 1px solid #B8B8B8;border-radius: .3rem;width: 1.5rem;height: .5rem;display: flex;align-items: center;justify-content: center;font-size: .2rem;}
.plogin .login{height: 1rem;border-radius: .5rem;color: #FFFFFF;font-size: .34rem;display: flex;align-items: center;justify-content: center;margin-top: 1.3rem;background: #096148;}
.plogin .login-type{display: flex;justify-content: flex-end;margin-top: .2rem;margin-right: .1rem;}
.plogin .three{flex: 1;display: flex;flex-direction: column;justify-content: flex-end;align-items: center;}
.plogin .thre-title{text-align: center;color: #B8B8B8;}
.plogin .three-box{display: flex;justify-content: center;}
.plogin .three-box img{height: .5rem;margin:.3rem .5rem;}
.plogin .input-box img{width: .5rem;}
.plogin .user-box{display: flex;align-items: center;margin: .3rem .2rem;}
.plogin .box{width: 1.84rem;height: .64rem;display: flex;align-items: center;justify-content: center;margin-right: .4rem;border-radius: .16rem;font-size: .24rem;border: 1px solid #B8B8B8;color: #333333;box-sizing: border-box;}
.plogin .active{background: #096148;color: #FFFFFF;border: 0;}
/*消息*/
.new{background: #F4F4F4;}
.new .nav-tab{display: flex;background: #FFFFFF;border-bottom: 1px solid #F4F4F4;height: 1.2rem;align-items: center;}
.new .img-box{width: .8rem;height: .8rem;border-radius: .1rem;display: flex;align-items: center;justify-content: center;margin: 0 .25rem;}
.new .img-box img{width: .5rem;}
.new .type01{background: #6BC4AB;}
.new .type02{background: #4A90E2;}
.new .new-main{flex: 1;display: flex;flex-direction: column;justify-content: space-between;margin-right: .2rem;}
.new .new-title{display: flex;justify-content: space-between;}
.new .title{color: #021A13;font-size:.28rem;}
.new .time{color: #B8B8B8;}
.new .text{font-size: .24rem;color: #666666;}
.pay02 .shop-main{height: 4.1rem;}

/*帮助*/
.help .help-item{height: .8rem;border-bottom: 1px solid #F4F4F4;display: flex;align-items: center;justify-content: space-between;}
.help .help-item div{margin: 0 .2rem;}
.help .help-item img{width: .15rem;margin-right: .2rem;width: .15rem;}
.help .help-item div:nth-of-type(2){color: #999999;}
/*订单状态*/
.neworder .nav-tab{margin:0 .2rem;padding: .3rem;}
.neworder .new-title{font-size: .35rem;margin-bottom: .2rem;}
.neworder .nav-title{text-align: center;color: #909090;line-height: .7rem;}
.neworder .nav-tab{height: auto;}
.neworder .text{line-height: .35rem;}
/*个人中心*/
.usercenter{background: #F4F4F4;}
.usercenter .header{background: none;border: 0;color: #FFFFFF;z-index: 99;}
.usercenter .main{margin: 0;height: calc(100% - 1rem);}
.usercenter .center-top{width: 100%;height: 3rem;display: flex;color: #FFFFFF;padding-top: 1rem;box-sizing: border-box;position: relative;overflow: hidden;}
.usercenter .center-top .avatar{width: 1.3rem;height: 1.3rem;border-radius: 50%;margin: 0 .2rem;z-index: 66;}
.usercenter .name-box{flex: 1;display: flex;flex-direction: column;justify-content: space-between;height: 1.3rem;z-index: 66;}
.usercenter .name{font-size: .4rem;margin-top: .15rem;}
.usercenter .state-box{display: flex;justify-content: space-between;align-items: center;}
.usercenter .state{border-radius: .5rem;padding: .1rem .3rem;font-size: .23rem;margin-right: .2rem;color: #FFFFFF;}
.usercenter .backimg{position: absolute;top: 0;left: 0;width: 100%;filter: blur(20px);}
.usercenter .nav{background: #FFFFFF;width: calc(100% - .4rem);height: 1.3rem;border-radius: .2rem;display: flex;margin: -.5rem auto .2rem;z-index: 66;position: relative;font-size: .2rem;}
.usercenter .nav-tab{display: flex;flex-direction: column;align-items: center;flex: 1;}
.usercenter .nav-tab img{width: .4rem;height: .4rem;margin: .2rem 0 .1rem;}
.usercenter .text{text-align: center;}
.usercenter .user-tab{display: flex;align-items: center;width: 100%;height: 1rem;border-bottom: 1px solid #F4F4F4;background: #FFFFFF;}
.usercenter .user-tab .logo{width: .4rem;margin: 0 .2rem;}
.usercenter .tab-text{font-size: .28rem;flex: 1;}
.usercenter .user-tab .arr{width: .2rem;margin-right: .2rem;}
/*设置*/
.setting .avatar{height: 1.3rem;}
.setting .avatar img{width: .8rem;height: .8rem;border-radius: 50%;}
.setting input{flex: 1;text-indent: .2rem;}
.setting .submit{background: #096148;color: #FFFFFF;height: .9rem;position: absolute;bottom: 0;left: 0;width: 100%;display: flex;align-items: center;justify-content: center;}

/*问题详情*/
.questiondetail h5{font-size: .28rem;margin: .3rem .2rem;}
.questiondetail p{font-size: .28rem;margin: 0 .3rem ;}
/*我的收益*/
.profit{background: #F4F4F4;}
.profit .profit-top{background: #FFFFFF;height: 3rem;width: 100%;display: flex;flex-direction: column;align-items: center;justify-content: center;margin-bottom: .5rem;}
.profit .price{font-size: .7rem;}
.profit .subtitile{font-size: .3rem;color: #758B85;margin-top: .15rem;display: flex;justify-content: space-between;width: calc(100% - .6rem);}
.profit .proce{margin: .2rem;color: #758B85;}
.profit .withdraw{margin: 0 .2rem;background: #096148;color: #FFFFFF;height: 1rem;border-radius: .5rem;display: flex;align-items: center;justify-content: center;}
.profit .proce02{position: absolute;bottom: .3rem;width: 100%;text-align: center;}
.profit .proce02 a{color: #758B85;font-weight: 600;}
/*我的积分*/
.integral .profit-top{margin-bottom: .2rem;}
.integral .integral-tab{background: #FFFFFF;display: flex;align-items: center;height: .8rem;border-bottom: 1px solid #F4F4F4;}
.integral .integral-tab div{margin-left: .2rem;flex: 1;}
.integral .integral-tab img{width: .15rem;margin-right: .2rem;}
/*去提现*/
.profitgo .profit-top{align-items: flex-start;padding-left: .3rem;height: auto;}
.profitgo .profit-top input{font-size: .5rem;height: .5rem;color: #096148;margin: .8rem 0 .3rem;}
.profitgo .profit-top input::-webkit-input-placeholder{color: #096148;font-size: .35rem;}
.profitgo .profit-type{width: calc(100% - .6rem);display: flex;align-items: center;justify-content: space-between;height: .8rem;border-top: 1px solid #F4F4F4;margin-top: .2rem;color: #04271D;font-size: .25rem;}
.profitgo p{margin: 0 .3rem;color: #096148;text-align: right;line-height: .5rem;}
/*订单中心*/
.order {background: #F4F4F4;}
.order .order-nav{height: .8rem;display: flex;align-items: center;background: #FFFFFF;}
.order .order-nav img{width: .3rem;height: .3rem;}
.order .nav-text{margin: 0 .1rem 0 .2rem;font-size: .28rem;line-height: .3rem;}
.order .order-main{background: #FFFFFF;height: calc(100%);overflow-y: scroll;position: relative;}
.order .order-box{display: flex;padding: .2rem 0;border-bottom: 1px solid #F4F4F4;}
.order .order-box img{width: 1.4rem;height: 1.4rem;margin: 0 .2rem;}
.order .order-title{display: flex;margin-bottom: .3rem;align-items: center;justify-content: space-between;}
.order .order-h1{font-size: .3rem;}
.order .order-right{flex: 1;margin-right: .2rem;display: flex;flex-direction: column;justify-content: space-between;}
.order .order-bottom{display: flex;align-items: center;justify-content: space-between;margin: .05rem 0;}
.order .bottom-right{background: #096148;color: #FFFFFF;border-radius:.4rem ;line-height: .5rem;font-size: .2rem;width: 1.5rem;height: .5rem;text-align: center;}
.order .order-state{color: #096148;}
.order .bottom-left{flex: 1;}
.order .order-price{margin-top: .1rem;width: 2.4rem;}
.order .order-alert{position: absolute;width: 100%;height: calc(100% - 2.6rem);top:1.6rem;left: 0;background: rgba(0,0,0,.5);z-index: 999;}
.order .nav-tab{width: 100%;background: #FFFFFF;height: .8rem;border-bottom: 1px solid #F4F4F4;text-indent: .2rem;line-height: .8rem;display: flex;align-items: center;justify-content: space-between;}
.order .nav-tab img{width: .34rem;height: .22rem;margin-right: .2rem;}
.dcartdetail .order-right {margin-left: .2rem;}
.order .order-top{height:.7rem;display: flex;justify-content: space-around;background: #FFFFFF;}
.order .order-top span{height: .7rem;line-height: .7rem;}
.order .order-top .active{border-bottom: 3px solid #096148;box-sizing: border-box;}
/*实名认证*/
.rname{background: #F4F4F4;}
.rname .input-box{background: #FFFFFF;height: .9rem;border-bottom: 1px solid #F4F4F4;display: flex;align-items: center;}
.rname .input-box label{width: 1.6rem;text-indent: .2rem;color: #04271D;}
.rname .input-box input{flex: 1;border-left: 1px solid gainsboro;text-indent: .2rem;}
.rname .submit{background: #096148;color: #FFFFFF;margin: 2rem .2rem;border-radius: .4rem;height: .8rem;display: flex;align-items: center;justify-content: center;}
/*首页*/
.index{background: #F4F4F4;}
.index .main{margin: 0;height: calc(100% - 1rem);display: flex;flex-direction: column;}
.index .banner{width: 100%;height: 4rem;}
.index .notice{display: flex;background: #FFFFFF;align-items: center;height: .9rem;}
.index .notice img{width: .4rem;margin:0 .2rem;}
.index .notice a{flex: 1;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;font-size: .28rem;display: block;position: relative;top: .05rem;}
.index .nav-box{display: flex;background: #FFFFFF;margin:.1rem .2rem;border-radius: .1rem;align-items: center;justify-content: space-around;font-size: .26rem;flex-wrap: wrap;padding: .15rem 0;}
.index .nav-box .nav-item{display: flex;flex-direction: column;align-items: center;justify-content: center;width: 25%;padding: .3rem 0;}
.index .nav-box img{width: .65rem;margin-bottom: .11rem;}
/*分享*/
.share{background: #F4F4F4;}
.share .help-item{justify-content: flex-start;background: #FFFFFF;}
.share .help-item img{width: .4rem;margin-left: .2rem;margin-right: .1rem;}
.share .share-top{height: 4rem;width: 100%;background: #FFFFFF;display: flex;align-items: center;justify-content: center;flex-direction: column;margin-bottom: .2rem;}
.share .share-top img{height: 2.5rem;margin: .2rem 0;}
.share .share-top p{font-size: .2rem;}
/*分享明细*/
.sharedetail .order-bottom{height: .4rem;}
.sharedetail .sharedetail-top{height: 1.5rem;display: flex;align-items: center;justify-content: space-around;background: #FFFFFF;margin-bottom: .2rem;}
.sharedetail .sharedetail-item{display: flex;flex-direction: column;align-items: center;justify-content: center;}
.sharedetail .order-main{height: calc(100% - 2.3rem);margin: 0;border-top: 1px solid #F4F4F4;}
.sharedetail p:first-of-type{font-size: .26rem;margin-bottom: .1rem;font-weight: 600;}
.sharedetail .order-alert{top: 3.3rem!important;}
/*交易收入*/
.trade .order-right{margin-left: .2rem;}
.trade .order-main{height: calc(100% - 1.8rem);}
.trade .yellow{color: #FF8900;}
.trade .trade-top{display: flex;align-items: center;height: .8rem;justify-content: space-around;}
.trade .radius{background: #096148;width: 100%;height: .1rem;border-radius: 20%;margin-top: .1rem;visibility: hidden;}
.trade .text{text-align: center;}
.trade .active .radius{visibility: visible;}
.trade p{line-height: .3rem;}
.trade .trade-main{height: calc(100% - .8rem);overflow-y: scroll;}
.trade .logo{width: .5rem!important;height: .5rem!important;}
/*搜索*/
.search{background: #F4F4F4;}
.search .input-box{display: flex;align-items: center;background: #F4F4F4;color: #B8B8B8;border-radius: .4rem;width: 5.5rem;height: .6rem;}
.search .input-box img{width: .3rem;height: .3rem;margin: .16rem;}
.search .input-box input{background: none;flex: 1;color: #B8B8B8;}
.search .input-box input::-webkit-input-placeholder{color: #B8B8B8;}
/*社区合伙人*/
.community .community-box{display: flex;align-items: center;border-bottom: 1px solid #F4F4F4;}
.community .community-box img{width: 1.1rem;height: 1.1rem;border-radius: 50%;margin: .3rem;}
.community .community-main{display: flex;flex-direction: column;height: .9rem;justify-content: space-between;}
.community h2{font-size: .35rem;}
.community p{font-size: .28rem;}
/*投诉管理*/
.complaint .order-main{height: 100%;}
.complaint .trade-top{height: 1rem;}
.complaint .trade-main{height: calc(100% - 1.1rem);}
.complaint .text{line-height: .4rem;}
.complaint .order-main{background: #F4F4F4;}
.complaint .order-box,.complaint .trade-top{background: #FFFFFF;}
.complaint .trade-top{border-bottom: 1px solid #F4F4F4;}
.complaint .order-bottom{line-height: .4rem;flex-wrap: wrap;}
.complaint .bf4{border-bottom: 1px solid #F4F4F4;}
.complaint .setting{display: flex;align-items: center;height: .8rem;margin-top: .2rem;}
.complaint .setting a{width: 2rem;height: .6rem;border-radius: .4rem;display: flex;align-items: center;justify-content: center;margin: 0 .1rem;font-size: .24rem;}
.complaint .setting .btn01{border: 1px solid #096148;color: #096148;}
.complaint .setting .btn02{background:#096148;color: #FFFFFF;}
.complaint .order-price,.complaint .order-time{width: 50%;}
.complaint .order-time{display: flex;justify-content: flex-end;text-align: right;}
.trade-item{display: flex;flex-direction: column;align-items: center;justify-content: center;}
.complaint .red{color: red;}
/*分类中心*/
.nav .header{border: none;}
.nav .mynav{display: flex;height: .6rem;border-bottom: 1px solid #F4F4F4;justify-content: space-around;align-items: flex-end;}
.nav .nav-circle{background: #096148;height: .05rem;width: 100%;border-radius: 40%;margin-top: .1rem;visibility: hidden;}
.nav .active .nav-circle{visibility: visible;}
.nav .subnav{height: .8rem;display: flex;border-bottom: 1px solid #F4F4F4;align-items: center;}
.nav .subnav-item{color: #096148;border: 1px solid #096148;padding: .1rem .3rem;border-radius: .3rem;margin:0 .2rem;}
.nav .subnav .active{background: #096148;color: #FFFFFF;}
.nav .nav-right{width: 2.5rem;height: 100%;background: #096148;color: #FFFFFF;display: flex;align-items: center;justify-content: center;font-size: .35rem;}
.nav .nav-left{flex: 1;display: flex;align-items: center;}
.nav .nav-left img{width: .5rem;margin: 0 .2rem;}
.nav .bprice{font-size: .35rem;color: #021A13;font-weight: 600;margin-left: .3rem;}
.nav .shop-box{height: calc(100%);overflow-y: scroll;display: flex;flex-wrap: wrap;}
.nav .shop{width: 33%;padding: .3rem 0;border-bottom: 1px solid #F4F4F4;border-right: 1px solid #F4F4F4;height: 2.7rem;}
.nav .shop:nth-of-type(3n){border-right: 0;}
.nav .shop .img-box{width:100%;height: 1.6rem;display: flex;align-items: center;justify-content: center;}
.nav .shop .img-box img{max-height: 100%;max-width: 100%;margin: 0 auto;}
.nav .price-box{display: flex;align-items: center;justify-content: space-between;font-size: .24rem;height: .3rem;margin: 0 .2rem;}
.nav .price{color: #F6403A;}
.nav .add-box{display: flex;align-items: center;justify-content: center;margin-top: .2rem;}
.nav .add-box img{width: .3rem;height: .3rem;}
.nav .num{width: .5rem;text-align: center;}
.nav .cart-alert{width: 100%;height: calc(100% - 1rem);position: absolute;top: 0;left: 0;background: rgba(0,0,0,.5);display: flex;flex-direction: column;justify-content: flex-end;}
.nav .cart-inner{background: #FFFFFF;}
.nav .cart-top{display: flex;align-items: center;justify-content: flex-end;height: .7rem;padding-right: .2rem;border-bottom: 1px solid #F4F4F4;}
.nav .cart{height: 1rem;display: flex;align-items: center;}
.nav .cart-name{margin-left: .3rem;flex: 1;}
.nav .cart-num{color: #F6403A;}
.nav .cart-setting{display: flex;margin: 0 .3rem;align-items: center;}
.nav .cart-setting img{width: .3rem;height: .3rem;}
.nav .cart-setting div{width: .4rem;text-align: center;}
.nav .cart-top img{width: .3rem;margin-right: .2rem;}
.nav .name{font-size: .2rem;}
.nav .subtitile{color: #B8B8B8;font-size: .2rem;margin: .1rem .2rem;}
/*订单详情*/
.orderdetail{background: #F4F4F4;}
.orderdetail .help-item{background: #FFFFFF;}
.orderdetail .red{color: red!important;}
.orderdetail .shop-main{overflow: hidden;position: relative;background: #FFFFFF;}
.orderdetail .shop-item{display: flex;align-items: center;height: 1.3rem;background: #FFFFFF;}
.orderdetail .shop-item img{width: .9rem;height: .9rem;margin: 0 .25rem;}
.orderdetail .name-box{height: .8rem;display: flex;flex-direction: column;justify-content: space-between;flex: 1;}
.orderdetail .num-box{display: flex;justify-content: space-between;}
.orderdetail .num{color: #999999;}
.orderdetail .price{font-size: .3rem;margin-right: .25rem;}
.orderdetail .shop-main{border-bottom: 1px solid #F4F4F4;}
.orderdetail .more{height: .5rem;display: flex;align-items: center;justify-content: center;position: absolute;bottom: 0;left: 0;width: 100%;background: #FFFFFF;}
.orderdetail .more img{width: .25rem;height: .25rem;margin-left: .1rem;}
.orderdetail .active{height: auto;padding-bottom: .3rem;}
.orderdetail .line{text-decoration: line-through;font-size: .2rem;color: #999999;}
.orderdetail .hji{color: #333333!important;font-size: .26rem;}
.orderdetail .detailtop{margin-top: .2rem;border-bottom: 1px solid #F4F4F4;}
.orderdetail .inner div{margin: 0 .3rem;}
.orderdetail textarea{width: calc(100% - .6rem);height: 1rem;margin: .3rem auto;border: 1px solid #999999;color: #999999;border-radius: .1rem;padding: .1rem;}
.orderdetail .btn{border: 1px solid #999999;color: #999999;border-radius: .3rem;padding: .1rem .3rem;margin:0 .1rem;font-size: .25rem;line-height: .25rem;}
.orderdetail  .bleft{flex: 1;display: flex;}
/*模块管理*/
.model .main{padding-top: .4rem;box-sizing: border-box;}
.model .main .img-box{width: 1.5rem;height: 1.5rem;margin: .3rem .4rem;display: inline-block;}
.model .main img{width: 1.3rem;height: 1.3rem;}
.model .main p{text-align: center;font-size: .25rem;line-height: .5rem;}
/*警报系统*/
.alert01{background: #FFFFFF;}
.red{color: red;}
/*合伙人详情*/
.communitydetail .center-top,.communitydetail .header{background: #FFFFFF;color: #333333;}
.communitydetail .name{display: flex;align-items: center;}
.communitydetail .name img{width: .45rem;margin-left: .2rem;}
.communitydetail .center-top{margin-bottom: .2rem;}
.communitydetail .tab-text{margin:0 .2rem;}
.communitydetail .tab-text img{width:.3rem;margin-left: .1rem;}
.communitydetail .tab-text:last-of-type{display: flex;justify-content: flex-end;align-items: center;}
.communitydetail .tab-text:first-of-type{justify-content: flex-start;}
.communitydetail .user-tab .myimg{width: .15rem;margin-right: .3rem;}
.communitydetail .top{margin-top: .2rem;}
.communitydetail input::-webkit-input-placeholder{color: #B8B8B8;}
.communitydetail input[type='radio']{margin:0 .4rem 0 .1rem;}
.complaintb{border: 1px solid #096148;color: #096148;border-radius: .5rem;margin:0 .2rem;height: .6rem;display: flex;align-items: center;justify-content: center;font-size: .22rem;}
/*设置价格*/
.price03 .price-top{height: 1rem;display: flex;align-items: center;justify-content: space-around;}
.price03 .price-box{display: flex;align-items: center;height: 1.4rem;border-top: 1px solid #F4F4F4;}
.price03 .price-box img{width: 1rem;height: 1rem;margin: 0 .2rem;}
.price03 .name{flex: 1;}
.price03 input{width: 2rem;height: .65rem;border: 1px solid #B8B8B8;color: #B8B8B8;border-radius: .1rem;text-indent: .2rem;font-size: .25rem;line-height: .65rem;}
.price03 .fhao{margin:0 .2rem;}
.price03 input::-webkit-input-placeholder{font-size: .25rem;line-height: .65rem;color: #B8B8B8;}
.price03 select{width: 2.5rem;height: .7rem;border-radius: .16rem;border: 1px solid #B8B8B8;color: #B8B8B8;font-size:.28rem ;text-indent: .15rem;margin-right: .3rem;}
/*活动管理*/
.activity .order-box{padding: 0;padding-bottom: .2rem;}
/*申请活动*/
.haveactivity02{background: #FFFFFF;}
.haveactivity02 .order-bottom{height: 1rem;border-bottom: 1px solid #F4F4F4;}
.haveactivity02 input{border: 1px solid #B8B8B8;border-radius: .1rem;height: .47rem;text-align: right;width: 2rem;padding-right: .2rem;}
.haveactivity02 input::-webkit-input-placeholder{color: #B8B8B8;}
.haveactivity02 .box{display: flex;flex-wrap: wrap;}
.haveactivity02 .box-item{width: 1.8rem;height: 1.5rem;border-radius: .2rem;background: #F0F0F2;color: #333333;margin:.3rem;border: 2px solid #F0F0F2;box-sizing: border-box;}
.haveactivity02 h2{text-align: center;margin:.4rem .2rem .1rem;font-size: .28rem;}
.haveactivity02 p{text-align: right;margin: .2rem;font-size: .2rem;}
.haveactivity02 .active{border: 2px solid #096148;}
/*洗涤订单*/
.orderxidi .order-right{padding-top: .2rem;}
.orderxidi .order-price{width: auto;margin: 0;}
.orderxidi .order-time{flex: 1;margin-left: .2rem;}
.orderxidi .order-bottom{margin: .1rem 0;}
/*指派订单*/
.appoint select{border: 1px solid #B8B8B8;border-radius: .1rem;height: .47rem;text-align: right;width: 2.2rem;padding-right: .2rem;color: #B8B8B8;}
.appoint .bottom{background: #096148;color: #FFFFFF;justify-content: center;}
.circle{width: .2rem;height: .2rem;background: #45C953;border-radius: 50%;}
input[type=radio] {
		display: inline-block;
		vertical-align: middle;
		width: .4rem;
		height: .4rem;
		-webkit-appearance: none;
		background-color: transparent;
		border: 0;
		outline: 0 !important;
		line-height: 20px;
		color: #d8d8d8;
		margin: .2rem;
	}
	input[type=file]{
		opacity: 0;
	}
	input[type=radio]:after {
		content: "✓";
		display: block;
		width: .4rem;
		height: .4rem;
		border-radius: 50%;
		text-align: center;
		line-height: .4rem;
		color: #fff;
		border: 1px solid #ddd;
		background-color: #fff;
		box-sizing: border-box;
	}
	
	input[type=radio]:checked:after {
		border-color: #096148;
		background-color: #096148;
	}
	.mys{height: auto!important;align-items: center;justify-content: center;flex-direction: column;}
	.mys img{width: 4rem;height: 3rem;margin: .3rem 0;}
/*商品详情*/
.shopdetail{background: #f4f4f4;} 
.shopdetail .img-box{background: #FFFFFF;height: 6rem;display: flex;align-items: center;justify-content: center;}
.shopdetail .img-box img{height: 4.5rem;}
.shopdetail .detail-inner{background: #FFFFFF;margin: .2rem 0;display: flex;align-items: center;height: 1rem;}
.shopdetail .name{margin: 0 .2rem;}
.shopdetail .setting{display: flex;align-items: center;margin-right: .2rem;}
.shopdetail .setting img{width: .3rem;height: .3rem;}
.shopdetail .setting div{width: .5rem;text-align: center;}
.shopdetail .price{flex: 1;}
.shopdetail .process{background: #FFFFFF;}
.shopdetail .process-title{padding: .2rem;}
.gocenter {
    position: absolute;
    top: 1rem;
    right: 0.2rem;
    width: 0.5rem;
    height: 0.5rem;
}
/*dizhixuanze*/
.changeadress .button{background: #FFFFFF;height: 1.7rem;display: flex;align-items: center;}
.changeadress .left{flex: 1;color: #096148;font-size: .28rem;line-height: .4rem;margin: 3px .3rem;}
.changeadress .right{width: 2.26rem;height: .92rem;border-radius: 2rem;color: #FFFFFF;display: flex;align-items: center;justify-content: center;background: #096148;margin-right: .3rem;}
