<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="css/main.css" />
		<script src="js/rem.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<title></title>
	</head>

	<body>
		<div class="wrapper order trade">
			<!--头部-->
			<div class="header">
				<div class="head-tab mui-action-back">
					<img src="img/Arrow_Simple_left Copy@2x.png" class="back" />
				</div>
				<div class="head-main">
					设备管理
				</div>
				<div class="head-tab">

				</div>
			</div>
			<!--中间主体-->
			<div class="main big-main sharedetail" @scroll="myscroll">
				<div class="main-inner">
					<div class="order-box alert01" v-for="val in navdata">
						<div class="order-right">
							<div class="order-bottom">
								<div class="order-price">设备名称</div>
								<div class="order-time">{{val.pbPdName}}</div>
							</div>
							<div class="order-bottom">
								<div class="order-price">设备ID</div>
								<div class="order-time">{{val.pbPartnerDeviceId}}</div>
							</div>
							<div class="order-bottom">
								<div class="order-price">所属社区合伙人</div>
								<div class="order-time">{{val.usCpName}}</div>
							</div>
							<div class="order-bottom">
								<div class="order-price">所在位置</div>
								<div class="order-time">{{val.pbPdAddress}}</div>
							</div>
							<div class="order-bottom">
								<div class="order-price">设备状态</div>
								<div class="order-time" :class="val.deviceCaseReason.length>0?'red':''">
									<div class="circle" v-if="val.deviceCaseReason.length==0"></div>
									<block v-for='item in val.deviceCaseReason'>{{item.pbPdcNum+ '号箱子' +item.pbPdrContent}}</block>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
		<script src="js/mui.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var myvue = new Vue({
				el: '.wrapper',
				data: {
					navdata: [],
					pages:0,
					pageNum:0
				},
				methods: {
					myscroll: function() {
						var that = this
						if(Math.abs($('.main-inner').offset().top) + $('.main').height() + 200 >= $('.main-inner').height()) {
							if(that.pages>that.pageNum){
								function plusReady() {
									// 弹出系统等待对话框
									var w = plus.nativeUI.showWaiting("等待中...");
								}
								if(window.plus) {
									plusReady();
								} else {
									document.addEventListener("plusready", plusReady, false);
								}
								that.myajax()
							}
							
						}
					},
					indexchange: function(index) {
						this.myindex = index
					},
					opennew: function(type) {
						if(type == 'q') {
							window.location.href = './havetype.html'
						} else {

						}
					},
					myajax: function() {
						var that = this
						that.pageNum++
						$.ajax({
							type: "post",
							url: localStorage.getItem('myurl') + "/community/selectPbPartnerDevice",
							dataType: 'json',
							data: {
								usCommunityPartnerId: localStorage.getItem('uid'),
								pageNum:that.pageNum
							},
							success: function(res) {
								console.log(res)
								that.pages=res.data.pages
								for(var i = 0; i < res.data.list.length; i++) {
									that.navdata.push(res.data.list[i])
								}
							}
						});
					}
				},
				mounted: function() {
					this.myajax()
				}
			})
		</script>
	</body>

</html>