<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="css/main.css" />
		<link rel="stylesheet" type="text/css" href="css/jquery.weui.css" />
		<script src="js/rem.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<title></title>
	</head>
	<style type="text/css">
		.order-box {
			margin-bottom: .2rem;
		}
		
		.order-right {
			padding-top: .2rem;
		}
	</style>

	<body>
		<div class="wrapper order trade">
			<!--头部-->
			<div class="header">
				<div class="head-tab mui-action-back">
					<img src="img/Arrow_Simple_left Copy@2x.png" class="back" />
				</div>
				<div class="head-main">
					指派订单
				</div>
				<div class="head-tab">

				</div>
			</div>
			<!--中间主体-->
			<div class="main big-main complaint haveactivity02">
				<div class="order-box appoint">
					<div class="order-right">
						<div class="order-bottom">
							<div class="order-price">取送最迟时间</div>
							<div class="order-time">
								<input type="text" v-model="pbOrTakeOffTime" @click="pickDate('s')" placeholder="取送最迟时间" />
							</div>
						</div>
						<div class="order-bottom">
							<div class="order-price">指派取送员</div>
							<div class="order-time">
								<select v-model="usStaffIdRetention">
									<option :value="val.usStaffId" v-for="val in mydata01">{{val.usStName}}</option>
								</select>
							</div>
						</div>
						<div class="order-bottom">
							<div class="order-price">选择暂存地</div>
							<div class="order-time">
								<select v-model="usTommunityStoragePointId">
									<option :value="val.usCommunityStoragePointId" v-for="val in mydata">{{val.usCspAddress}}</option>
								</select>
							</div>
						</div>
						<div class="bottom" @click="submit">确认指派</div>
					</div>
				</div>
			
			</div>
			<div class="alert" v-show="alertboo" @click="alertshow">
				<div class="alert-inner">
					<img src="img/yes.png"/>
					<div class="text">指派成功,  {{time}}后返回</div>
				</div>
			</div>
		</div>
		</div>
		<script src="js/mui.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var myvue = new Vue({
				el: '.wrapper',
				data: {
					pbOrTakeOffTime: '',
					etime: '',
					adetail: '',
					adress: '',
					alertboo:false,
					time:3,
					mydata:[],
					mydata01:[],
					usStaffIdRetention:'',
					usTommunityStoragePointId:''
				},
				methods: {
					submit:function(){
						var that=this
						$.ajax({
							type: "post",
							url: localStorage.getItem('myurl') + "/community/updateAssignmentOrderIdRetention",
							dataType: 'json',
							data: {
								pbOrderId: localStorage.getItem('pbOrderId'),
								usStaffIdRetention:that.usStaffIdRetention,
								pbOrTakeOffTime:that.pbOrTakeOffTime,
								usTommunityStoragePointId:that.usTommunityStoragePointId
							},
							success: function(res) {
								if(res.data==1){
									plus.nativeUI.toast('订单指派完成')
								}else{
									plus.nativeUI.toast('订单指派失败')
								}
							}
						});
					},
					pickDate: function(type) {
						var that = this
						plus.nativeUI.pickDate(function(e) {
							var d = e.date;
							that.pbOrTakeOffTime = d.getFullYear() + "/" + (d.getMonth() + 1) + "/" + d.getDate()
						}, function(e) {
							console.log("未选择日期：" + e.message);
						});
					},
					alertshow:function(){
						this.alertboo=!this.alertboo
					},
					pay:function(){
						var that=this
						that.alertshow()
						setInterval(function(){
							if(that.time==1){
								mui.back()
							}else{
								that.time--
							}
						},1000)
					},
					myajax:function(){
						var that=this
						$.ajax({
							type: "post",
							url: localStorage.getItem('myurl') + "/community/queryStorageAddress",
							dataType: 'json',
							data: {
								usCommunityPartnerId: localStorage.getItem('uid')
							},
							success: function(res) {
								console.log(res)
								that.mydata = res.data
							}
						});
						$.ajax({
							type: "post",
							url: localStorage.getItem('myurl') + "/community/queryUsCommunityUsStaff",
							dataType: 'json',
							data: {
								usCommunityPartnerId: localStorage.getItem('uid')
							},
							success: function(res) {
								console.log(res)
								that.mydata01 = res.data
							}
						});
					}
				},
				mounted: function() {
					this.myajax()
				}
			})
		</script>
	</body>

</html>