<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="css/main.css" />
		<script src="js/rem.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<title></title>
	</head>

	<body>
		<div class="wrapper order trade">
			<!--头部-->
			<div class="header">
				<a class="head-tab" href="javascript:history.back()">
					<img src="img/Arrow_Simple_left Copy@2x.png" class="back" />
				</a>
				<div class="head-main">
					选择分类
				</div>
				<a class="head-tab" href="javascript">

				</a>
			</div>
			<!--中间主体-->
			<div class="main big-main complaint">
				<div class="order-main">
					<div class="order-box" v-if="myindex==0">
						<div class="order-right">
							<div class="order-bottom">
								<div class="order-price">上衣</div>
								<div class="order-time setting">
									<a class="btn02" href="price03.html">设置价格</a>
								</div>
							</div>
						</div>
					</div>
					<div class="order-box" v-if="myindex==0">
						<div class="order-right">
							<div class="order-bottom">
								<div class="order-price">裤裙</div>
								<div class="order-time setting">
									<a class="btn02" href="price03.html">设置价格</a>
								</div>
							</div>
						</div>
					</div>
					<div class="order-box" v-if="myindex==0">
						<div class="order-right">
							<div class="order-bottom">
								<div class="order-price">鞋类</div>
								<div class="order-time setting">
									<a class="btn02" href="price03.html">设置价格</a>
								</div>
							</div>
						</div>
					</div>
					<div class="order-box" v-if="myindex==0">
						<div class="order-right">
							<div class="order-bottom">
								<div class="order-price">家纺</div>
								<div class="order-time setting">
									<a class="btn02" href="price03.html">设置价格</a>
								</div>
							</div>
						</div>
					</div>
					<div class="order-box" v-if="myindex==0">
						<div class="order-right">
							<div class="order-bottom">
								<div class="order-price">包包</div>
								<div class="order-time setting">
									<a class="btn02" href="price03.html">设置价格</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			var myvue = new Vue({
				el: '.wrapper',
				data: {
					myindex: 0
				},
				methods: {
					indexchange: function(index) {
						this.myindex = index
					},
					opennew: function(type) {
						if(type == 'q') {
							window.location.href = './havetype.html'
						} else {

						}
					}
				},
				mounted: function() {

				}
			})
		</script>
	</body>

</html>