<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="css/main.css" />
		<link rel="stylesheet" type="text/css" href="css/jquery.weui.css" />
		<script src="js/rem.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<title></title>
	</head>
	<style type="text/css">
		.order-box {
			margin-bottom: .2rem;
		}
		
		.order-right {
			padding-top: .2rem;
		}
	</style>

	<body>
		<div class="wrapper order trade">
			<!--头部-->
			<div class="header">
				<div class="head-tab mui-action-back">
					<img src="img/Arrow_Simple_left Copy@2x.png" class="back" />
				</div>
				<div class="head-main">
					申请活动
				</div>
				<div class="head-tab" @click="pay">
					提交
				</div>
			</div>
			<!--中间主体-->
			<div class="main big-main complaint haveactivity02">
				<div class="order-box">
					<div class="order-right">
						<div class="order-bottom">
							<div class="order-price">活动项目</div>
							<div class="order-time">挖宝</div>
						</div>
						<div class="order-bottom">
							<div class="order-price">活动开始时间</div>
							<div class="order-time">
								<input type="text" v-model="stime" @click="pickDate('s')" placeholder="活动开始时间" />
							</div>
						</div>
						<div class="order-bottom">
							<div class="order-price">活动结束时间</div>
							<div class="order-time">
								<input type="text" v-model="stime" @click="pickDate('e')" placeholder="活动结束时间" />
							</div>
						</div>
						<div class="order-bottom">
							<div class="order-price">收件地址</div>
							<div class="order-time">
								<input type="text" v-model="adress" placeholder="收件地址" id='city-picker' />
							</div>
						</div>
						<div class="order-bottom">
							<div class="order-price">选择物料包</div>
							<div class="order-time">
							</div>
						</div>
					</div>
				</div>
				<div class="box">
					<div class="box-item" @click="indexchange(index)" :class="myindex==index?'active':''" v-for="(val,index) in mydata">
						<h2>{{val.pbMpName}}</h2>
						<p>{{val.pbMpPrice}}元</p>
					</div>
				</div>
			</div>
			<div class="alert" v-show="alertboo" @click="alertshow">
				<div class="alert-inner">
					<img src="img/yes.png" />
					<div class="text">提交成功, {{time}}后返回列表页</div>
				</div>
			</div>
		</div>
		</div>
		<script src="js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/jquery.weui.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/city-picker.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/mui.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var myvue = new Vue({
				el: '.wrapper',
				data: {
					myindex: 0,
					stime: '',
					etime: '',
					adetail: '',
					adress: '',
					alertboo: false,
					time: 3,
					mydata: []
				},
				methods: {
					indexchange: function(index) {
						this.myindex = index
					},
					pickDate: function(type) {
						var that = this
						plus.nativeUI.pickDate(function(e) {
							var d = e.date;
							if(type == 's') {
								that.stime = d.getFullYear() + "/" + (d.getMonth() + 1) + "/" + d.getDate()
							} else {
								that.etime = d.getFullYear() + "/" + (d.getMonth() + 1) + "/" + d.getDate()
							}
							console.log("选择的日期：" + d.getFullYear() + "-" + (d.getMonth() + 1) + "-" + d.getDate());
						}, function(e) {
							console.log("未选择日期：" + e.message);
						});
					},
					alertshow: function() {
						this.alertboo = !this.alertboo
					},
					pay: function() {
						var that = this
						$.ajax({
							type: "post",
							url: localStorage.getItem('myurl') + "/community/insertPbActivityTreasulr",
							async: true,
							data:{
								usCommunityPartnerId:localStorage.getItem('uid'),
								pbPartnerDeviceId:localStorage.getItem('pbPartnerDeviceId'),
								pbMaterialPackageId:that.mydata[that.myindex].pbMaterialPackageId,
								pbAtActionTime:that.stime,
								pbAtEndTime:that.etime,
								pbAtAddress:adress
							},
							dataType: 'json',
							success: function(res) {
								console.log(res)
								if(res.data==1){
									plus.nativeUI.toast('添加完成')
									mui.back()
								}else{
									plus.nativeUI.toast('添加失败')
								}
							}
						});
						that.alertshow()
						setInterval(function() {
							if(that.time == 1) {
								mui.back()
							} else {
								that.time--
							}
						}, 1000)
					},
					myajax: function() {
						var that = this
						$.ajax({
							type: "post",
							url: localStorage.getItem('myurl') + "/usCityPartner/queryPbMaterialPackage",
							async: true,
							dataType: 'json',
							success: function(res) {
								console.log(res)
								that.mydata = res.data
							}
						});
					}
				},
				mounted: function() {
					$("#city-picker").cityPicker({
						title: "选择省市区/县",
						onChange: function(picker, values, displayValues) {
							console.log(values, displayValues);
						}
					});
					this.myajax()
				}
			})
		</script>
	</body>

</html>