<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<script src="js/rem.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" type="text/css" href="css/main.css" />
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
	</head>

	<body>
		<div class="wrapper index">
			<div class="main">
				<img :src="navdata[0].pbNsImgUrl" class="banner" v-if="navdata.length!=0" />
				<div class="notice">
					<img src="img/notice.png" />
					<div v-if="navdata.length!=0">
						公告：{{navdata[0].pbNwContent}}
					</div>
				</div>
				<div class="nav-box" v-if="utype==0">
					<div class="nav-item" @click="opennew('my')">
						<img src="img/C279703D-2D4F-4E35-813A-6F75E4EF2FF1@2x.png" />
						<div>我的豆豆洗</div>
					</div>
					<div class="nav-item" @click="opennew('model')">
						<img src="img/C8A7FA66-AE54-4A5D-AF5B-C99FF0E9B72C@2x.png" />
						<div>查看收入</div>
					</div>
					<div class="nav-item" @click="opennew('examine')">
						<img src="img/D6BC1C4D-6324-4D49-A066-1EF734CADAFC@2x.png" />
						<div>设置价格</div>
					</div>
					<div class="nav-item" @click="opennew('activity')">
						<img src="img/C08CD27A-7E44-4CB7-BBF7-C73BB40671B6@2x.png" />
						<div>活动管理</div>
					</div>
					<div class="nav-item" @click="opennew('orderxidi')">
						<img src="img/2ABF332D-D2DD-47C3-B2BF-9D771AC33445@2x.png" />
						<div>洗涤订单</div>
					</div>
					<div class="nav-item" @click="opennew('orderzhi')">
						<img src="img/09DB222B-103D-4126-B223-67B290E1BA10@2x.png" />
						<div>滞留件管理</div>
					</div>
					<div class="nav-item" @click="opennew('alert')">
						<img src="img/6BB5A998-B636-4BBC-962B-807A90B79DB9@2x.png" />
						<div>警报系统</div>
					</div>
					<div class="nav-item" @click="opennew('complaint')">
						<img src="img/92B68C93-091C-485C-9777-7AEBD5E65E4B@2x.png" />
						<div>投诉管理</div>
					</div>

				</div>
				<div class="nav-box" v-if="utype==1">
					<div class="nav-item" @click="opennew('orderqu')">
						<img src="img/61572438-52B2-4008-824E-9152FCE6FBA5@2x.png" />
						<div>取</div>
					</div>
					<div class="nav-item" @click="opennew('ordersong')">
						<img src="img/23877E44-8E63-49FF-B835-F0E0E0E0E2DB@2x.png" />
						<div>送</div>
					</div>
				</div>
				<div class="nav-box" v-if="utype==1">
					<div class="nav-item" @click="opennew('myorder')">
						<img src="img/2323C410-0CF8-4900-9429-31C085319B66@2x.png" />
						<div>我的订单</div>
					</div>
					<div class="nav-item" @click="opennew('share')">
						<img src="img/2A9AE22E-FE14-4E8F-9070-86D6688A6064@2x.png" />
						<div>邀请好友</div>
					</div>
				</div>
				<div class="nav-box" v-if="utype==2">
					<div class="nav-item" @click="opennew('trade02')">
						<img src="img/C8A7FA66-AE54-4A5D-AF5B-C99FF0E9B72C@2x.png" />
						<div>干洗店收入</div>
					</div>
					<div class="nav-item" @click="opennew('recommend')">
						<img src="img/07FA8013-813F-4982-B5EC-75EF7309C131@3x.png" />
						<div>推荐收入</div>
					</div>
				</div>
				<div class="nav-box" v-if="utype==2">
					<div class="nav-item" @click="opennew('ordedianpu')">
						<img src="img/2323C410-0CF8-4900-9429-31C085319B66@2x.png" />
						<div>干洗店订单</div>
					</div>
					<div class="nav-item" @click="opennew('share')">
						<img src="img/2A9AE22E-FE14-4E8F-9070-86D6688A6064@2x.png" />
						<div>邀请好友</div>
					</div>
				</div>
			</div>
			<!--底部-->
			<div class="bottom">
				<div class="bottom-tab">
					<img src="img/bottom01-active.png" />
					<div class="bottom-text active">
						首页
					</div>
				</div>
				<div class="bottom-tab" @click="opennew('newcenter')">
					<img src="img/bottom02.png" />
					<div class="bottom-text">
						消息
					</div>
				</div>
				<div class="bottom-tab" @click="opennew('usercenter')">
					<img src="img/bottom03.png" />
					<div class="bottom-text">
						我的
					</div>
				</div>
			</div>
		</div>
	</body>
	<script src="js/mui.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/url.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		var myvue = new Vue({
			el: '.wrapper',
			data: {
				utype: localStorage.getItem('utype'),
				navdata: [{
					pbNwContent: '豆豆洗社区合伙人正式上线啦！',
					pbNsImgUrl: './img/index.jpg'
				}]
			},
			methods: {
				opennew: function(target, id) {
					mui.openWindow({
						url: './' + target + '.html',
						id: target,
						createNew: true
					})
				},
				myajax: function() {
					var that = this
					$.ajax({
						type: "post",
						url: localStorage.getItem('myurl') + "/fetch/queryAllNewsNoticePojo",
						dataType: 'json',
						success: function(res) {
							console.log(res)
							if(res.data.length != 0) {
								that.navdata = res.data
							}
						},
						error: function(err) {
							console.log(err)
						}
					});
				}
			},
			mounted: function() {
				var that = this

				function plusReady() {
					plus.runtime.getProperty(plus.runtime.appid, function(inf) {
						$.ajax({
							type: "post",
							url: localStorage.getItem('myurl') + "/backstageCommunity/selectPbAppVersion",
							dataType: 'json',
							success: function(res) {
								if(res.data.pbAvCommunityCode != inf.version) {
									plus.nativeUI.showWaiting("版本更新，下载资源中！");
									plus.downloader.createDownload(localStorage.getItem('myurl') + res.data.pbAvCommunityUrl, {
										filename: "_doc/update/"
									}, function(d, status) {
										if(status == 200) {
											plus.runtime.install(d.filename, {}, function() {
												plus.nativeUI.closeWaiting();
												plus.nativeUI.alert("应用资源更新完成！点击重启！", function() {
													plus.runtime.restart();
												});
											}, function(e) {
												plus.nativeUI.closeWaiting();
												plus.nativeUI.alert("安装wgt文件失败[" + e.code + "]：" + e.message);
											});
										} else {
											plus.nativeUI.alert("下载wgt失败！");
										}
									}).start();
								} else {
									if(localStorage.getItem('uid') == null || localStorage.getItem('uid') == undefined) {
										window.location.href = './mlogin.html'
									} else {
										this.myajax()
									}
								}
							},
							error: function(err) {
								alert(JSON.stringify(err))
							}
						});
					});
				}
				if(window.plus) {
					plusReady();
				} else {
					document.addEventListener("plusready", plusReady, false);
				}
			}
		})
	</script>

</html>