<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="css/main.css" />
		<script src="js/rem.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<title></title>
	</head>
	<style type="text/css">
		.wrapper, body, html{
			height: auto;
		}
	</style>
	<body>
		<div class="wrapper plogin">
			<!--头部-->
			<div class="header">
				<div class="head-tab">

				</div>
				<div class="head-main">
					登录
				</div>
				<div class="head-tab">

				</div>
			</div>
			<!--中间主体-->
			<div class="main big-main">
				<div class="main-inner">
					<div class="titile">请选择登陆身份 </div>
					<div class="user-box">
						<div class="box" :class="index==0?'active':''" @click="change(0)">社区合伙人</div>
						<div class="box" :class="index==1?'active':''" @click="change(1)">取送员</div>
						<div class="box" :class="index==2?'active':''" @click="change(2)">干洗店</div>
					</div>
					<div class="titile">账号密码登录 </div>
					<div class="input-box">
						<input type="number" placeholder="请输入手机号" v-model="phone" />
					</div>
					<div class="input-box">
						<input :type="ptype" placeholder="请输入密码" v-model="passs" />
						<img src="img/number (1).png" @click="changetype('text')" v-if="ptype=='password'" />
						<img src="img/number (2).png" @click="changetype('password')" v-if="ptype=='text'" />
					</div>
					<div class="login-type" style="justify-content: space-between;">
						<!--<a href="wlogin.html">忘记密码?</a>-->
						<!--<a href="plogin.html">手机快捷登录</a>-->
					</div>
					<div class="login-type" style="justify-content: space-between;margin: 1.3rem .2rem 0  0;">
						<a href="javascript:void(0)"></a>
						<a href="javascript:void(0)" style="display: flex;align-items: center;">
							<input type="checkbox" v-model="pwdboo" />记住密码
						</a>
					</div>
					<div class="login" @click="login()" style="margin: 0;">登录</div>
					<div class="login-type">
						<div @click="opennew('Agreement','')">登录即视为同意 <strong>《豆豆洗注册协议》</strong></div>
					</div>

					<!--<div class="three">
						<div class="thre-title">第三方登录 </div>
						<div class="three-box">
							<a href=""><img src="img/QQ@2x.png"/></a>
							<a href=""><img src="img/wxin.png"/></a>
						</div>
					</div>-->
				</div>
				<div class="alert" v-if="alertboo" @click="alertshow">
					<div class="alert-inner">
						<div class="alert-top">豆豆洗</div>
						<div class="text alert-text">{{alerttext}}</div>
						<div class="button">确定</div>
					</div>
				</div>
			</div>
		</div>
		<script src="js/mui.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/url.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var myvue = new Vue({
				el: '.wrapper',
				data: {
					ptype: 'password',
					index: 0,
					phone: localStorage.getItem('uphone'),
					passs: localStorage.getItem('passs'),
					alerttext: '请求失败',
					alertboo: false,
					pwdboo: true
				},
				methods: {
					alertshow: function(text) {
						this.alerttext = text
						this.alertboo = !this.alertboo
					},
					login: function() {
						var that = this
						if(that.pwdboo == true) {
							localStorage.setItem('passs', that.passs)
						} else {
							localStorage.setItem('passs', '')
						}
						if(that.index == 1) {
//							取送员登陆 15952208893//  123456//
							var ajaxjson = {
								phone: that.phone,
								usStPassword: that.passs
							}
							console.log(ajaxjson)
							$.ajax({
								type: "post",
								url: localStorage.getItem('myurl') + "/fetch/selectUsStaffLogin",
								dataType: 'json',
								data: ajaxjson,
								success: function(res) {
									console.log(res)
									if(res.status == 200) {
										localStorage.setItem('usShareCode',res.data.usShareCode)
										localStorage.setItem('usStHeadImg',res.data.usStHeadImg)
										localStorage.setItem('uname', res.data.usStName)
										localStorage.setItem('uphone', res.data.usStPhone)
										localStorage.setItem('uapay', res.data.usStAliPayCode)
										localStorage.setItem('uid', res.data.usStaffId)
										localStorage.setItem('uwpay', res.data.usStWeChatPayCode)
										localStorage.setItem('utype', 1)
										localStorage.setItem('uavatar', res.data.usStHeadImg)
										that.opennew('index')
									} else {
										that.alertshow(res.msg)
									}
								},
								error: function(err) {
									console.log(err)
								}
							});
						} else if(that.index == 2) {
							//							干洗店登陆
							var ajaxjson = {
								phone: that.phone,
								usStPassword: that.passs
							}
							console.log(ajaxjson)
							$.ajax({
								type: "post",
								url: localStorage.getItem('myurl') + "/laundry/checkUsStoreLogin",
								dataType: 'json',
								data: ajaxjson,
								success: function(res) {
									console.log(res)
									if(res.status == 200) {
										if(res.data == null) {
											that.alertshow('用户名或者密码不正确！')
										} else {
											localStorage.setItem('usShareCode',res.data.usShareCode)
											localStorage.setItem('usStHeadImg', res.data.usStHeadImg)
											localStorage.setItem('uname', res.data.usStShopName)
											localStorage.setItem('uphone', res.data.usStPhone)
											localStorage.setItem('uapay', res.data.usStAliPayCode)
											localStorage.setItem('uid', res.data.usStoreId)
											localStorage.setItem('uwpay', res.data.usStWeChatCode)
											localStorage.setItem('utype', 2)
											localStorage.setItem('usCommunityPartnerId', res.data.usCommunityPartnerId)
											that.opennew('index')
										}
									} else {
										that.alertshow(res.msg)
									}
								},
								error: function(err) {
									console.log(err)
								}
							});
						} else {
							//							社区合伙人登陆
							var ajaxjson = {
								phone: that.phone,
								usStPassword: that.passs
							}
							console.log(JSON.stringify(ajaxjson))
							$.ajax({
								type: "post",
								url: localStorage.getItem('myurl') + "/community/selectCommunityLogin",
								dataType: 'json',
								data: ajaxjson,
								success: function(res) {
									console.log(res)
									if(res.status == 200) {
										if(res.data != null) {
											localStorage.setItem('usShareCode',res.data.usCpShareCode)
											localStorage.setItem('usCpHeadImg', res.data.usCpHeadImg)
											localStorage.setItem('uname', res.data.usCpName)
											localStorage.setItem('uphone', res.data.usCpPhone)
											localStorage.setItem('uapay', res.data.usCpAliPayCode)
											localStorage.setItem('uid', res.data.usCommunityPartnerId)
											localStorage.setItem('uwpay', res.data.usCpWeChatCode)
											localStorage.setItem('utype', 0)
											that.opennew('index')
										} else {
											that.alertshow('用户名或者密码不正确！')
										}
									} else {
										that.alertshow(res.msg)
									}
								},
								error: function(err) {
									console.log(JSON.stringify(err))
								}
							});
						}
					},
					changetype: function(text) {
						this.ptype = text
					},
					opennew: function(target, id) {
						mui.openWindow({
							url: './' + target + '.html',
							id: target,
							createNew: true
						})
					},
					change: function(index) {
						this.index = index
					}
				},
				mounted: function() {
					
				}
			})
		</script>
	</body>

</html>