<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="css/style/nav.css"/>
		<script src="js/rem.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<title></title>
	</head>

	<body>
		<div class="wrapper nav shopdetail">
			<!--头部-->
			<div class="header">
				<div class="head-tab mui-action-back" v-if="!detailboo">
					<img src="img/Arrow_Simple_left Copy@2x.png" class="back" />
				</div>
				<div class="head-tab" v-if="detailboo" @click="back">
					<img src="img/Arrow_Simple_left Copy@2x.png" class="back" />
				</div>
				<div class="head-main">
					分类中心
				</div>
				<div class="head-tab" @click="opennew('share')">
					分享
				</div>
			</div>
			<!--中间主体-->
			<div class="main" style="background: #FFFFFF;" v-if="!detailboo">
				<div class="mynav">
					<div class="nav-tab" v-for='(val,index) in onedata' :class="navindex==index?'active':''" @click="tab(index.val.pbClothesOneId)">
						<div class="nav-text">{{val.pbCoName}}</div>
						<div class="nav-circle"></div>
					</div>
				</div>
				<div class="subnav">
					<div class="subnav-inner">
						<div class="subnav-item" :class="subindex==index?'active':''" @click="subindexchange(index)" v-for="(val,index) in onedata[navindex].twoList" v-if="onedata.length!=0">{{val.pbCtName}}</div>
					</div>
				</div>
				<div class="shop-box">
					<div class="shop" v-for="(val,index) in threedata">
						<div class="img-box" @click="usCommunityPartnerSaleId(val.usCommunityPartnerSaleId,index)">
							<img :src="val.pbCdImg | myimg" />
						</div>
						<div class="price-box">
							<div class="name">{{val.pbCdName}}</div>
							<div class="price">￥{{val.usCpsSalePrice}}</div>
						</div>
						<div class="add-box">
							<img src="img/Close-2 Copy 9@2x.png" @click.stop="addnum('j',index)" />
							<div class="num">{{val.countNum}}</div>
							<img src="img/Close-2 Copy 6@2x.png" @click.stop="addnum('z',index)" />
						</div>
					</div>
				</div>
			</div>
			<!--购物车弹出层-->
			<div class="cart-alert" v-if="alertboo" @click="alertshow">
				<div class="cart-inner">
					<div class="cart-top">
						<img src="img/Trash@2x.png" @click.stop="clear" />
						<div class="text" @click.stop="clear">清空洗衣篮</div>
					</div>
					<div class="cart" v-for="(val,index) in cartdata">
						<div class="cart-name">{{val.pbCdName}}</div>
						<div class="cart-num">￥{{val.usCpsSalePrice}}</div>
						<div class="cart-setting">
							<img src="img/Close-2 Copy 9@2x.png" @click.stop="changenum('j',index)" />
							<div>x{{val.pbRdNum}}</div>
							<img src="img/Close-2 Copy 6@2x.png" @click.stop="changenum('z',index)" />
						</div>
					</div>
				</div>
			</div>
			<!--详情弹出层-->
			<div class="main" v-if='detailboo'>
				<div class="img-box">
					<img :src="mydata.pbCdImg | myimg" />
				</div>
				<div class="detail-inner">
					<div class="name">
						{{mydata.pbCdName}}
					</div>
					<div class="price">
						￥{{mydata.usCpsSalePrice}}
					</div>
					<div class="setting">
						<img src="img/Close-2 Copy 9@2x.png" @click.stop="addnum('j',index)" />
						<div>{{threedata[index].countNum}}</div>
						<img src="img/Close-2 Copy 6@2x.png" @click.stop="addnum('z',index)" />
					</div>
				</div>
				<div class="process">
					<div class="process-title">清洗流程</div>
					<div class="process-title" style="margin: 0 .3rem;">
						{{mydata.pbCcpContent==0?'暂无流程':mydata.pbCcpContent}}
					</div>
				</div>
			</div>
			<div class="bottom">
				<div class="nav-left" @click="alertshow">
					<img src="img/Basket@2x.png" />
					<div class="bprice">合计:￥{{allnum}}</div>
				</div>
				<div class="nav-right" @click="pay()">
					去调整
				</div>
			</div>
		</div>
		<script src="js/mui.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var myvue = new Vue({
				el: '.wrapper',
				data: {
					onedata: [],
					twodata: [],
					threedata: [],
					navindex: 0,
					subindex: 0,
					alertboo: false,
					cartdata: [],
					allnum: 0,
					detailboo: false,
					index: 0,
					mydata: ''
				},
				methods: {
					pay: function() {
						if(this.cartdata.length==0){
							plus.nativeUI.toast('您还没选择衣物呢！')
						}else{
							localStorage.setItem('cartdata', JSON.stringify(this.cartdata))
							localStorage.setItem('allnum', this.allnum)
							this.opennew('pay02')
						}
					},
					allprice: function() {
						this.allnum = 0
						for(var i = 0; i < this.cartdata.length; i++) {
							this.allnum += this.cartdata[i].usCpsSalePrice * this.cartdata[i].pbRdNum
						}
					},
					back: function() {
						var that = this
						that.detailboo = !that.detailboo
					},
					usCommunityPartnerSaleId: function(id, index) {
						var that = this
						that.index = index
						$.ajax({
							type: "post",
							url: localStorage.getItem('myurl') + "/user/getClotheDetails",
							dataType: 'json',
							data: {
								saleId: id
							},
							success: function(res) {
								console.log(res)
								that.mydata = res.data
								that.detailboo = !that.detailboo
							}
						});
					},
					myajax: function() {
						var that = this
						console.log({
								pbOrderId: localStorage.getItem('pbOrderId'),
								usStoreId: localStorage.getItem('uid')
							})
						//						插入洗衣篮数据
						$.ajax({
							type: "post",
							url: localStorage.getItem('myurl') + "/laundry/insertOrderBasket",
							dataType: 'json',
							data: {
								pbOrderId: localStorage.getItem('pbOrderId'),
								usStoreId: localStorage.getItem('uid')
							},
							success: function(res) {
								
								if(res.data != 1) {
									plus.nativeUI.toast('洗衣篮获取失败！')
								} else {
									//						 			获取一级,二级分类
									$.ajax({
										type: "post",
										url: localStorage.getItem('myurl') + "/user/getOneTwo",
										dataType: 'json',
										data: {
											deviceCaseId: localStorage.getItem('pbPartnerDeviceCaseId')
										},
										success: function(res) {
											that.onedata = res.data
											that.havethree()
										}
									});
								}
							}
						});
					},
					havethree: function() {
						var that = this
						$.ajax({
							type: "post",
							url: localStorage.getItem('myurl') + "/laundry/selectAdjustTheOrderPojo",
							dataType: 'json',
							data: {
								usCommunityPartnerId: localStorage.getItem('usCommunityPartnerId'),
								pbClothesTwoId: that.onedata[that.navindex].twoList[that.subindex].pbClothesTwoId,
								pbOrderId: localStorage.getItem('pbOrderId'),
								usStoreId: localStorage.getItem('uid')
							},
							success: function(res) {
								that.threedata = res.data
							}
						});
						//									获取洗衣篮信息
						$.ajax({
							type: "post",
							url: localStorage.getItem('myurl') + "/laundry/selectPbOrderDetaileBasket",
							dataType: 'json',
							data: {
								orderId: localStorage.getItem('pbOrderId'),
								usStoreId: localStorage.getItem('uid')
							},
							success: function(res) {
								console.log(res)
								that.cartdata = res.data
								that.allprice()
							}
						});
						plus.nativeUI.closeWaiting()
					},
					clear: function() {
						var that = this
						this.alertboo = !this.alertboo
						//						清空洗衣篮信息
						$.ajax({
							type: "post",
							url: localStorage.getItem('myurl') + "/laundry/truncateOrderBasket",
							dataType: 'json',
							data: {
								pbOrderId: localStorage.getItem('pbOrderId')
							},
							success: function(res) {
								console.log(res)
								that.havethree()
							}
						});
					},
					changenum: function(type, index) {
//						plus.nativeUI.showWaiting()
						var that = this,
							num = this.cartdata[index].pbRdNum
						if(type == 'j') {
							if(num > 0) {
								num--
							}
						} else {
							num++
						}console.log({
								pbOrderDetaileBasketId: that.cartdata[index].pbOrderDetaileBasketId,
								pbRdNum: num,
								pbRdPrice: num * that.cartdata[index].usCpsSalePrice
							})
						$.ajax({
							type: "post",
							url: localStorage.getItem('myurl') + "/laundry/updateOrderBasket",
							dataType: 'json',
							data: {
								pbOrderDetaileBasketId: that.cartdata[index].pbOrderDetaileBasketId,
								pbRdNum: num,
								pbRdPrice: num * that.cartdata[index].usCpsSalePrice
							},
							success: function(res) {
								that.havethree()
							}
						});
					},
					addnum: function(type, index) {
						plus.nativeUI.showWaiting()
						var that = this,
							num = this.threedata[index].countNum
						if(type == 'j') {
							if(num > 0) {
								num--
							}
						} else {
							num++
						}
						if(this.threedata[index].countNum == 0) {
							//							插入洗衣篮信息
							$.ajax({
								type: "post",
								url: localStorage.getItem('myurl') + "/laundry/insertOrderBasketDetail",
								dataType: 'json',
								data: {
									pbOrderId: localStorage.getItem('pbOrderId'),
									usCommunityPartnerSaleId: that.threedata[index].usCommunityPartnerSaleId,
									pbRdNum: 1,
									pbRdPrice: that.threedata[index].usCpsSalePrice,
									usStoreId: localStorage.getItem('uid')
								},
								success: function(res) {
									console.log(res)
									that.havethree()
								}
							});
						} else {
							//							更改洗衣篮信息
							$.ajax({
								type: "post",
								url: localStorage.getItem('myurl') + "/laundry/updateOrderBasket",
								dataType: 'json',
								data: {
									pbOrderDetaileBasketId: that.threedata[index].pbOrderDetaileBasketId,
									pbRdNum: num,
									pbRdPrice: num * that.threedata[index].usCpsSalePrice
								},
								success: function(res) {
									console.log(res)
									that.havethree()
								}
							});
						}
						
					},
					tab: function(index, id) {
						this.navindex = index
						this.myajax()
					},
					alertshow: function() {
						this.alertboo = !this.alertboo
					},
					opennew: function(target) {
						mui.openWindow({
							url: './' + target + '.html',
							id: target
						})
					},
					subindexchange: function(index) {
						this.subindex = index
						this.havethree()
					}
				},
				mounted: function() {
					this.myajax()
				},
				filters: {
					myimg: function(value) {
						return localStorage.getItem('myurl') + value.substring(value.indexOf('D:') + 1)
					}
				}
			})
		</script>
	</body>

</html>