<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="css/main.css" />
		<script src="js/rem.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<title></title>
	</head>
	<body>
		<div class="wrapper new">
			<!--头部-->
			<div class="header">
				<div class="head-tab mui-action-back">
					
				</div>
				<div class="head-main">
					消息
				</div>
				<div class="head-tab">
					
				</div>
			</div>
			<!--中间主体-->
			<div class="main">
				<div class="nav-tab" @click="opennew('new-order')" v-if="navdata!=''">
					<div class="img-box type01" >
						<img src="img/hanger-1@3x.png"/>
					</div>
					<div class="new-main" style="height: .8rem;">
						<div class="new-title">
							<div class="title">订单状态</div>
							<div class="time">{{navdata[0].pbNmCreateTime}}</div>
						</div>
						<div class="text">{{navdata[0].pbNwContent}}</div>
					</div>
				</div>
				<div class="nav-tab" @click="opennew('new-gonggao')" v-if="navdata01!=''">
					<div class="img-box type02" >
						<img src="img/Share@3x.png"/>
					</div>
					<div class="new-main" style="height: .8rem;">
						<div class="new-title">
							<div class="title">公告 </div>
							<div class="time">{{navdata01[0].pbNwCreateTime}}</div>
						</div>
						<div class="text">{{navdata01[0].pbNwContent}}</div>
					</div>
				</div>
			</div>
			<!--底部-->
			<div class="bottom">
				<div class="bottom-tab" @click="opennew('index')">
					<img src="img/bottom01.png"/>
					<div class="bottom-text">
						首页
					</div>
				</div>
				<div class="bottom-tab">
					<img src="img/bottom02-active.png"/>
					<div class="bottom-text active">
						消息
					</div>
				</div>
				<div class="bottom-tab" @click="opennew('usercenter')">
					<img src="img/bottom03.png"/>
					<div class="bottom-text">
						我的
					</div>
				</a>
			</div>
		</div>
		<script src="js/mui.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var myvue=new Vue({
				el:'.wrapper',
				data:{
					navdata:[{
						pbNwCreateTime:'暂无消息',
						pbNwContent:'暂无消息'
					}],
					navdata01:''
				},
				methods:{
					opennew:function(target,id){
						mui.openWindow({
							url:'./'+target+'.html',
							id:target
						})
					},
					myajax:function(){
						var that=this,
							roleId=0
	//					公告消息
						if(localStorage.getItem('utype')==2){
							roleId=3
						}
						$.ajax({
							type:"post",
							url:localStorage.getItem('myurl')+"/user/findNewsStyle",
							dataType:'json',
							data:{
								userId:localStorage.getItem('uid'),
								roleId:roleId
							},
							success:function(res){
								console.log(res)
								if(res.data!=null){
									that.navdata=res.data
								}
								
							}
						});
						$.ajax({
							type:"post",
							url:localStorage.getItem('myurl')+"/fetch/queryAllNewsNoticePojo",
							dataType:'json',
							success:function(res){
								console.log(res)
								that.navdata01=res.data
							}
						});
					}
				},
				mounted:function(){
					this.myajax()
				}
			})
		</script>
	</body>
</html>