<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="css/main.css" />
		<script src="js/rem.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<title></title>
	</head>

	<body>
		<div class="wrapper order trade">
			<!--头部-->
			<div class="header">
				<div class="head-tab mui-action-back">
					<img src="img/Arrow_Simple_left Copy@2x.png" class="back" />
				</div>
				<div class="head-main">
					派送
				</div>
				<div class="head-tab">
					
				</div>
			</div>
			<!--中间主体-->
			<div class="main big-main complaint">
				<div class="order-main">
					<div class="trade-top">
						<div class="trade-item" :class="myindex==0?'active':''" @click="indexchange(0)">
							<div class="text">待派送</div>
							<div class="radius"></div>
						</div>
						<div class="trade-item" :class="myindex==1?'active':''" @click="indexchange(1)">
							<div class="text">已派送</div>
							<div class="radius"></div>
						</div>
						<div class="trade-item" :class="myindex==2?'active':''" @click="indexchange(2)">
							<div class="text">滞留件</div>
							<div class="radius"></div>
						</div>
					</div>
					<div class="trade-main activity">
						<div class="order-box" v-if="myindex==0">
							<div class="order-right">
								<div class="order-bottom" style="border-bottom: 1px solid #F4F4F4;height: .9rem;">
									<div class="order-price">郑春平的一号柜</div>
									<a class="order-time" href="tel:12345685" style="font-size: .2rem;color: #096148;">
										联系用户
									</a>
								</div>
								<div class="order-bottom">
									<div class="order-price">订单号</div>
									<div class="order-time">D215454</div>
								</div>
								<div class="order-bottom">
									<div class="order-price">取件地址</div>
									<div class="order-time">徐州市铜山区春旺小区西门</div>
								</div>
								<div class="order-bottom">
									<div class="order-price">送达地址</div>
									<div class="order-time">徐州市铜山区春旺路136号</div>
								</div>
								<div class="order-bottom">
									<div class="order-price">最迟收取时间</div>
									<div class="order-time">2018年7月19日8：30</div>
								</div>
								<div class="order-bottom">
									<div class="order-price">干洗店电话</div>
									<div class="order-time">17864598745</div>
								</div>
								<div class="order-bottom">
									<div class="order-price">订单状态</div>
									<div class="order-time">待收取</div>
								</div>
								<div class="order-bottom" style="border-top: 1px solid #F4F4F4;"> 
									<div class="order-price"></div>
									<div class="order-time setting">
										<a class="btn01" href="javascript:void(0)">发送取件码</a>
										<a class="btn02" href="javascript:void(0)" @click="opensao">扫码开箱</a>
									</div>
								</div>
							</div>
						</div>
						<div class="order-box" v-if="myindex==1">
							<div class="order-right">
								<div class="order-bottom" style="border-bottom: 1px solid #F4F4F4;height: .9rem;">
									<div class="order-price">郑春平的一号柜</div>
									<a class="order-time" href="tel:12345685" style="font-size: .2rem;color: #096148;">
										联系用户
									</a>
								</div>
								<div class="order-bottom">
									<div class="order-price">订单号</div>
									<div class="order-time">D215454</div>
								</div>
								<div class="order-bottom">
									<div class="order-price">取件地址</div>
									<div class="order-time">徐州市铜山区春旺小区西门</div>
								</div>
								<div class="order-bottom">
									<div class="order-price">送达地址</div>
									<div class="order-time">徐州市铜山区春旺路136号</div>
								</div>
								<div class="order-bottom">
									<div class="order-price">最迟收取时间</div>
									<div class="order-time">2018年7月19日8：30</div>
								</div>
								<div class="order-bottom">
									<div class="order-price">干洗店电话</div>
									<div class="order-time">17864598745</div>
								</div>
								<div class="order-bottom">
									<div class="order-price">订单状态</div>
									<div class="order-time">待收取</div>
								</div>
							</div>
						</div>
						<div class="order-box" v-if="myindex==2">
							<div class="order-right">
								<div class="order-bottom" style="border-bottom: 1px solid #F4F4F4;height: .9rem;">
									<div class="order-price">郑春平的一号柜</div>
									<a class="order-time" href="tel:12345685" style="font-size: .2rem;color: #096148;">
										联系用户
									</a>
								</div>
								<div class="order-bottom">
									<div class="order-price">订单号</div>
									<div class="order-time">D215454</div>
								</div>
								<div class="order-bottom">
									<div class="order-price">取件地址</div>
									<div class="order-time">徐州市铜山区春旺小区西门</div>
								</div>
								<div class="order-bottom">
									<div class="order-price">送达地址</div>
									<div class="order-time">徐州市铜山区春旺路136号</div>
								</div>
								<div class="order-bottom">
									<div class="order-price">最迟收取时间</div>
									<div class="order-time">2018年7月19日8：30</div>
								</div>
								<div class="order-bottom">
									<div class="order-price">干洗店电话</div>
									<div class="order-time">17864598745</div>
								</div>
								<div class="order-bottom">
									<div class="order-price">订单状态</div>
									<div class="order-time">待收取</div>
								</div>
								<div class="order-bottom" style="border-top: 1px solid #F4F4F4;"> 
									<div class="order-price"></div>
									<div class="order-time setting">
										<a class="btn01" href="javascript:void(0)">发送取件码</a>
										<a class="btn02" href="javascript:void(0)"  @click="opensao">扫码开箱</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="js/mui.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var myvue = new Vue({
				el: '.wrapper',
				data: {
					myindex: 0
				},
				methods: {
					indexchange: function(index) {
						this.myindex = index
					},
					opennew: function(type) {
						if(type == 'q') {
							window.location.href = './havetype.html'
						} else {

						}
					},
					opensao:function(){
						plus.webview.open('./saoyisao.html')
					}
				},
				mounted: function() {

				}
			})
		</script>
	</body>

</html>