<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="css/main.css" />
		<script src="js/rem.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<title></title>
	</head>

	<body>
		<div class="wrapper order trade">
			<!--头部-->
			<div class="header">
				<div class="head-tab mui-action-back">
					<img src="img/Arrow_Simple_left Copy@2x.png" class="back" />
				</div>
				<div class="head-main">
					收取
				</div>
				<div class="head-tab"></div>
			</div>
			<!--中间主体-->
			<div class="main big-main complaint">
				<div class="order-main">
					<div class="trade-top">
						<div class="trade-item" :class="myindex==0?'active':''" @click="indexchange(0)">
							<div class="text">待收取</div>
							<div class="radius"></div>
						</div>
						<div class="trade-item" :class="myindex==1?'active':''" @click="indexchange(1)">
							<div class="text">已收取</div>
							<div class="radius"></div>
						</div>
						<div class="trade-item" :class="myindex==2?'active':''" @click="indexchange(2)">
							<div class="text">退单</div>
							<div class="radius"></div>
						</div>
					</div>
					<div class="trade-main activity">
						<div class="order-box" v-if="myindex==0" v-for='val in mydata'>
							<div class="order-right">
								<div class="order-bottom" style="border-bottom: 1px solid #F4F4F4;height: .9rem;">
									<div class="order-price">{{val.deviceName}}</div>
									<a class="order-time" :href="['tel:'+val.userPhone+'']" style="font-size: .2rem;color: #096148;">
										联系用户
									</a>
								</div>
								<div class="order-bottom">
									<div class="order-price">订单号</div>
									<div class="order-time">{{val.orderCode}}</div>
								</div>
								<div class="order-bottom">
									<div class="order-price">取件地址</div>
									<div class="order-time">{{val.takeAddress}}</div>
								</div>
								<div class="order-bottom">
									<div class="order-price">送达地址</div>
									<div class="order-time">{{val.sendAddress}}</div>
								</div>
								<div class="order-bottom">
									<div class="order-price">最迟收取时间</div>
									<div class="order-time">{{val.takeTime}}</div>
								</div>
								<div class="order-bottom">
									<div class="order-price">干洗店电话</div>
									<div class="order-time">{{val.storePhone}}</div>
								</div>
								<div class="order-bottom">
									<div class="order-price">订单状态</div>
									<div class="order-time">{{val.orderStauts | mystate}}</div>
								</div>
								<div class="order-bottom" style="border-top: 1px solid #F4F4F4;">
									<div class="order-price"></div>
									<div class="order-time setting">
										<a class="btn01" href="javascript:void(0)" @click.stop="orderheshi(val.pbOrderId)">核实订单</a>
										<a class="btn02" href="javascript:void(0)" @click.stop="opensao(val.pbOrderId)">扫码开箱</a>
									</div>
								</div>
							</div>
						</div>
						<div class="order-box" v-if="myindex==1" v-for="val in mydata01">
							<div class="order-right">
								<div class="order-bottom" style="border-bottom: 1px solid #F4F4F4;height: .9rem;">
									<div class="order-price">{{val.deviceName}}</div>
									<a class="order-time" :href="['tel:'+val.userPhone+'']" style="font-size: .2rem;color: #096148;">
										联系用户
									</a>
								</div>
								<div class="order-bottom">
									<div class="order-price">订单号</div>
									<div class="order-time">{{val.orderCode}}</div>
								</div>
								<div class="order-bottom">
									<div class="order-price">取件地址</div>
									<div class="order-time">{{val.takeAddress}}</div>
								</div>
								<div class="order-bottom">
									<div class="order-price">送达地址</div>
									<div class="order-time">{{val.sendAddress}}</div>
								</div>
								<div class="order-bottom">
									<div class="order-price">最迟收取时间</div>
									<div class="order-time">{{val.collectTime}}</div>
								</div>
								<div class="order-bottom">
									<div class="order-price">干洗店电话</div>
									<div class="order-time">{{val.storePhone}}</div>
								</div>
								<div class="order-bottom">
									<div class="order-price">订单状态</div>
									<div class="order-time">{{val.orderStauts | mystate}}</div>
								</div>
								<div class="order-bottom" style="border-top: 1px solid #F4F4F4;">
									<div class="order-price"></div>
									<div class="order-time setting">
										<a class="btn01" href="javascript:void(0)" @click.stop="opensao(val.pbOrderId)" v-if="new Date() - new Date(val.pbOrUpdateTime)<=5000">扫码开箱</a>
										<a class="btn02" href="javascript:void(0)" @click.stop="orderdao(val.pbOrderId,val.usUserId)">确认到店</a>
									</div>
								</div>
							</div>
						</div>
						<div class="order-box" v-if="myindex==2" v-for="val in mydata02">
							<div class="order-right">
								<div class="order-bottom" style="border-bottom: 1px solid #F4F4F4;height: .9rem;">
									<div class="order-price">{{val.deviceName}}</div>
									<a class="order-time" :href="['tel:'+val.userPhone+'']" style="font-size: .2rem;color: #096148;">
										联系用户
									</a>
								</div>
								<div class="order-bottom">
									<div class="order-price">订单号</div>
									<div class="order-time">{{val.pbOrderId}}</div>
								</div>
								<div class="order-bottom">
									<div class="order-price">取件地址</div>
									<div class="order-time">{{val.takeAddress}}</div>
								</div>
								<div class="order-bottom">
									<div class="order-price">送达地址</div>
									<div class="order-time">{{val.sendAddress}}</div>
								</div>
								<div class="order-bottom">
									<div class="order-price">最迟收取时间</div>
									<div class="order-time">{{val.takeTime}}</div>
								</div>
								<div class="order-bottom">
									<div class="order-price">干洗店电话</div>
									<div class="order-time">{{val.storePhone}}</div>
								</div>
								<!--<div class="order-bottom">
									<div class="order-price">订单状态</div>
									<div class="order-time">{{val.orderStauts | mystate}}</div>
								</div>-->
								<div class="order-bottom" style="border-top: 1px solid #F4F4F4;">
									<div class="order-price"></div>
									<div class="order-time setting">
										<a class="btn01" href="javascript:void(0)" @click.stop="opensao(val.pbOrderId)" v-if="val.orderStauts==18">扫码开箱</a>
										<a class="btn02" href="javascript:void(0)" @click.stop="tuiqu(val.pbOrderId)" v-if="val.orderStauts==17">已取件</a>
										<a class="btn02" href="javascript:void(0)" @click.stop="tuida(val.pbOrderId)" v-if="val.orderStauts==18">已送达</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="alert" v-show="alertboo" @click="alertshow">
					<div class="alert-inner">
						<img src="img/yes.png" />
						<div class="text">核实成功, {{time}}后返回</div>
					</div>
				</div>
			</div>
		</div>
		<script src="js/mui.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var myvue = new Vue({
				el: '.wrapper',
				data: {
					myindex: 0,
					alertboo: false,
					time: 3,
					mydata: [],
					mydata01: [],
					mydata02: []
				},
				methods: {
					tuida: function() {
						var that = this
						$.ajax({
							type: "post",
							url: localStorage.getItem('myurl') + "/fetch/updateOrderStautsRefundService",
							dataType: 'json',
							data: {
								pbOrderId: id,
								usStaffIdRefund: localStorage.getItem('uid')
							},
							success: function(res) {
								console.log(res)
								that.pay()
								that.myajax()
							}
						});
					},
					tuiqu: function(id) {
						var that = this
						$.ajax({
							type: "post",
							url: localStorage.getItem('myurl') + "/fetch/updateOrderStautsRefund",
							dataType: 'json',
							data: {
								pbOrderId: id,
								usStaffIdRefund: localStorage.getItem('uid')
							},
							success: function(res) {
								console.log(res)
								that.pay()
								that.myajax()
							}
						});
					},
					orderdao: function(id,uid) {
						var that = this
						console.log(id)
						$.ajax({
							type: "post",
							url: localStorage.getItem('myurl') + "/fetch/updateOrderStautsBystauts",
							dataType: 'json',
							data: {
								pbOrderId: id,
								usStaffId:localStorage.getItem('uid'),
								usUserId:uid
							},
							success: function(res) {
								console.log(res)
								that.pay()
								that.myajax()
							}
						});
					},
					orderheshi: function(id) {
						var that = this
						console.log(id)
						$.ajax({
							type: "post",
							url: localStorage.getItem('myurl') + "/fetch/updateOrderStautsBycode",
							dataType: 'json',
							data: {
								pbOrderId: id
							},
							success: function(res) {
								console.log(res)
								that.pay()
								that.myajax()
							}
						});
					},
					myajax: function() {
						var that = this
						//						待收取
						$.ajax({
							type: "post",
							url: localStorage.getItem('myurl') + "/fetch/queryComUsStaffOrderListTake",
							dataType: 'json',
							data: {
								usStaffId: localStorage.getItem('uid')
							},
							success: function(res) {
								that.mydata = res.data
							}
						});
						//						已收取
						$.ajax({
							type: "post",
							url: localStorage.getItem('myurl') + "/fetch/queryComUsStaffOrderListSend",
							dataType: 'json',
							data: {
								usStaffId: localStorage.getItem('uid')
							},
							success: function(res) {
								console.log(res)
								that.mydata01 = res.data
							}
						});
						//						退单
						$.ajax({
							type: "post",
							url: localStorage.getItem('myurl') + "/fetch/selectOrderUsStaffIdRefund",
							dataType: 'json',
							data: {
								usStaffId: localStorage.getItem('uid')
							},
							success: function(res) {
								console.log(res)
								that.mydata02 = res.data
							}
						});
					},
					indexchange: function(index) {
						this.myindex = index
					},
					opennew: function(type) {
						if(type == 'q') {
							window.location.href = './havetype.html'
						} else {

						}
					},
					opensao: function(id) {
						localStorage.setItem('orderId', id)
						mui.openWindow({
							url: './saoyisao02.html',
							id: 'saoyisao02'
						})
					},
					alertshow: function() {
						this.alertboo = !this.alertboo
					},
					pay: function(id) {
						var that = this
						that.alertshow()
						var set = setInterval(function() {
							if(that.time == 1) {
								clearInterval(set)
								that.time = 3
								that.alertshow()
							} else {
								that.time--
							}
						}, 1000)
					}
				},
				mounted: function() {
					this.myajax()
				},
				filters: {
					mystate: function(value) {
						switch(value) {
							case 1:
								return '已完成'
								break;
							case 2:
								return '待存放'
								break;
							case 3:
								return '待取衣'
								break;
							case 4:
								return '待洗衣'
								break;
							case 5:
								return '待送衣'
								break;
							case 6:
								return '待领取'
								break;
							case 7:
								return '问题订单'
								break;
							case 10:
								return '待送店'
								break;
						}
					},
					filtertime: function(value) {
						var time = new Date() - new Date(value)
						if(time / 1000 > 5000) {
							return false;
						} else {
							return true;
						}
					}
				}
			})
		</script>
	</body>

</html>