<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="css/main.css" />
		<script src="js/rem.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<title></title>
	</head>

	<body>
		<div class="wrapper help orderdetail">
			<!--头部-->
			<div class="header">
				<div class="head-tab mui-action-back">
					<img src="img/Arrow_Simple_left Copy@2x.png" class="back" />
				</div>
				<div class="head-main">
					订单详情
				</div>
				<a class="head-tab" :href="['tel:'+mydata[0].userPhone]">
					联系用户
				</a>
			</div>
			<!--中间主体-->
			<div class="main">
				<div class="help-item">
					<div>订单编号:{{mydata[0].pbOrderId}}</div>
					<div></div>
				</div>
				<div class="shop-main" :class="more==true?'active':''" :style="mydata[1].length<3?'height:auto':''">
					<div class="shop-item" v-for="val in mydata[1]">
						<img :src="val.pbRdUpdateName | myimg" />
						<div class="name-box">
							<div class="num-box">
								<div class="name">{{val.usCommunityPartnerSaleId}}</div>
								<div class="price">￥{{val.pbRdPrice}}</div>
							</div>
							<div class="num">
								x{{val.pbRdNum}}
							</div>
						</div>
					</div>
					<div class="more" v-if="!more&&mydata[1].length>3" @click="moreboo">
						<div>加载更多</div>
						<img src="img/Arrow_right@2x.png" />
					</div>
					<div class="more" v-if="more&&mydata[1].length>3" @click="moreboo">
						<div>收起</div>
						<img src="img/up.png" />
					</div>
				</div>
				<div class="help-item" v-if='mydata[0].pbOrProblemPrice!=0'>
					<div>优惠卷</div>
					<div class="red">-{{mydata[0].pbOrProblemPrice}}</div>
				</div>
				<div class="help-item">
					<div></div>
					<div class="hji">
						<span class="line" v-if='mydata[0].pbOrProblemPrice!=0'>已优惠:￥{{mydata[0].pbOrProblemPrice}}</span> 合计: <span class="red"> ￥{{mydata[0].pbOrCountPrice}}</span>
					</div>
				</div>
				<div class="help-item detailtop">
					<div>订单信息</div>
					<div class="red"></div>
				</div>
				<div class="help-item inner">
					<div>订单编号:</div>
					<div>{{mydata[0].pbOrderId}}</div>
				</div>
				<div class="help-item inner">
					<div>柜体ID:</div>
					<div>{{mydata[0].pbPartnerDeviceCaseId}}</div>
				</div>
				<div class="help-item inner">
					<div>柜体位置:</div>
					<div>{{mydata[0].pbOrCode}}</div>
				</div>
				<div class="help-item inner">
					<div>下单时间:</div>
					<div>{{mydata[0].changeCreateTime}}</div>
				</div>
				<div class="help-item detailtop">
					<div>订单备注</div>
					<div class="red"></div>
				</div>
				<div class="help-item inner" style="height: auto;">
					<textarea readonly="readonly" :value="mydata[0].pbOrRemarks">
						
					</textarea>
				</div>
			</div>
		</div>
		<script src="js/mui.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var myvue = new Vue({
				el: '.wrapper',
				data: {
					more: false,
					mydata: '',
				},
				methods: {
					moreboo: function() {
						this.more = !this.more
					},
					opennew: function(target, id) {
						localStorage.setItem('ttype', id)
						mui.openWindow({
							url: './' + target + '.html',
							id: target,
							createNew: true
						})
					},
					myajax: function() {
						function plusReady() {
							// 弹出系统等待对话框
							var w = plus.nativeUI.showWaiting("订单加载中...");
						}
						if(window.plus) {
							plusReady();
						} else {
							document.addEventListener("plusready", plusReady, false);
						}
						var that = this
						that.pageNum++
							var ajaxjson = {
								orderId: localStorage.getItem('orderId')
							}
						$.ajax({
							type: "post",
							url: localStorage.getItem('myurl') + "/user/getOrderDetails",
							dataType: 'json',
							data: ajaxjson,
							success: function(res) {
								console.log(res)
								that.mydata = res.data
							}
						});

						function plusReady() {
							// 弹出系统等待对话框
							var w = plus.nativeUI.closeWaiting()
						}
						if(window.plus) {
							plusReady();
						} else {
							document.addEventListener("plusready", plusReady, false);
						}
					},
				},
				mounted: function() {
					this.myajax()
					var that = this
					// 1. 获取支付通道
					function plusReady() {
						// 获取支付通道
						plus.payment.getChannels(function(channels) {
							that.channel = channels;
						}, function(e) {
							alert("获取支付通道失败：" + e.message);
						});
					}
					if(window.plus) {
						plusReady();
					} else {
						document.addEventListener('plusready', plusReady, false);
					}
				},
				filters: {
					myimg: function(value) {
						return localStorage.getItem('myurl') + value.substring(value.indexOf('D:') + 1)
					}
				}
			})
		</script>
	</body>

</html>