<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="css/main.css" />
		<script src="js/rem.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<title></title>
	</head>

	<body>
		<div class="wrapper help orderdetail nav">
			<!--头部-->
			<div class="header">
				<div class="head-tab mui-action-back">
					<img src="img/Arrow_Simple_left Copy@2x.png" class="back" />
				</div>
				<div class="head-main">
					调整订单
				</div>
				<div class="head-tab">

				</div>
			</div>
			<!--中间主体-->
			<div class="main pay02">
				<div class="help-item">
					<div>调整前</div>
					<div></div>
				</div>
				<div class="shop-main" :class="more==true?'active':''" :style="cartdataold.length<3?'height:auto':''" v-if="cartdataold!=''">
					<div class="shop-item" v-for="val in cartdataold">
						<img :src="val.pbCdImg" />
						<div class="name-box">
							<div class="num-box">
								<div class="name">{{val.pbCdName}}</div>
								<div class="price">￥{{val.usCpsSalePrice}}</div>
							</div>
							<div class="num">
								x{{val.pbRdNum}}
							</div>
						</div>
					</div>
					<div class="more" v-if="!more&&cartdataold.length>3" @click="moreboo">
						<div>加载更多</div>
						<img src="img/Arrow_right@2x.png" />
					</div>
					<div class="more" v-if="more&&cartdataold.length>3" @click="moreboo">
						<div>收起</div>
						<img src="img/up.png" />
					</div>
				</div>
				<div class="help-item">
					<div>调整后</div>
					<div></div>
				</div>
				<div class="shop-main" :class="more1==true?'active':''" :style="cartdata.length<3?'height:auto':''">
					<div class="shop-item" v-for="val in cartdata">
						<img :src="val.pbCdImg" />
						<div class="name-box">
							<div class="num-box">
								<div class="name">{{val.pbCdName}}</div>
								<div class="price">￥{{val.usCpsSalePrice}}</div>
							</div>
							<div class="num">
								x{{val.pbRdNum}}
							</div>
						</div>
					</div>
					<div class="more" v-if="!more1&&cartdata.length>3" @click="moreboo1">
						<div>加载更多</div>
						<img src="img/Arrow_right@2x.png" />
					</div>
					<div class="more" v-if="more1&&cartdata.length>3" @click="moreboo1">
						<div>收起</div>
						<img src="img/up.png" />
					</div>
				</div>
			</div>
			<div class="bottom">
				<div class="nav-left">
					<img src="img/Basket@2x.png" />
					<div class="bprice">合计:￥{{allnum}}</div>
				</div>
				<div class="nav-right" @click="gopay">
					去调整
				</div>
			</div>
			<div class="alert" v-show="alertboo" @click="alertshow">
				<div class="alert-inner">
					<img src="img/yes.png" />
					<div class="text">调整完成！</div>
					<div class="button">
						<div style="border: 0;">确定</div>
					</div>
				</div>
			</div>
		</div>
		<script src="js/mui.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var myvue = new Vue({
				el: '.wrapper',
				data: {
					more: false,
					more1: false,
					alertboo: false,
					cartdata: JSON.parse(localStorage.getItem('cartdata')),
					cartdataold: [],
					allnum: localStorage.getItem('allnum'),
					oldnum: 0
				},
				methods: {
					gopay: function() {
						var myDate = new Date()
						var jsondata = []
						var ajaxdata = {}
						var pbOrCountNum = 0
						for(var i = 0; i < this.cartdata.length; i++) {
							ajaxdata = {}
							ajaxdata.pbOrderId = localStorage.getItem('pbOrderId')
							ajaxdata.pbRdCreateTime = myDate.getFullYear() + '/' + (myDate.getMonth() + 1) + '/' + myDate.getDate();
							ajaxdata.pbRdCreateName = localStorage.getItem('uname')
							ajaxdata.pbRdIsDelete = 2
							ajaxdata.usCommunityPartnerSaleId = this.cartdata[i].usCommunityPartnerSaleId
							ajaxdata.pbRdPrice = this.cartdata[i].usCpsSalePrice * this.cartdata[i].pbRdNum
							ajaxdata.pbRdNum = this.cartdata[i].pbRdNum
							pbOrCountNum += this.cartdata[i].pbRdNum
							jsondata.push(ajaxdata)
						}
						var that = this
						var ajaxjson = {
							listParam: jsondata,
							pbOrderId: localStorage.getItem('pbOrderId'),
							createName: localStorage.getItem('uname'),
							pbOrCountPrice: localStorage.getItem('allnum'),
							pbOrCountNum: pbOrCountNum,
							price: localStorage.getItem('allnum') - that.oldnum
						}
						$.ajax({
							type: "post",
							url: localStorage.getItem('myurl') + "/laundry/insertPbOrderDetaile",
							dataType: 'json',
							data: {
								data: JSON.stringify(ajaxjson)
							},
							success: function(res) {
								if(res.data == 1) {
									that.opennew('ordedianpu')
								}
							}
						});
					},
					moreboo: function() {
						this.more = !this.more
					},
					moreboo1: function() {
						this.more1 = !this.more1
					},
					opennew: function(target) {
						mui.openWindow({
							url: './' + target + '.html',
							id: target,
							createNew: true
						})
					},
					alertshow: function() {
						this.alertboo = !this.alertboo
					}
				},
				mounted: function() {
					if(localStorage.getItem('cartdataold') != '') {
						this.cartdataold = JSON.parse(localStorage.getItem('cartdataold'))
					}
					for(var i = 0; i < this.cartdataold.length; i++) {
						this.oldnum += this.cartdataold[i].usCpsSalePrice * this.cartdataold[i].pbRdNum
					}
				}
			})
		</script>
	</body>

</html>