<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="css/main.css" />
		<script src="js/rem.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<title></title>
	</head>
	<body>
		<div class="wrapper plogin">
			<!--头部-->
			<div class="header">
				<a class="head-tab" href="javascript:history.back()">
					<img src="img/Arrow_Simple_left Copy@2x.png" class="back"/>
				</a>
				<div class="head-main">
					登录
				</div>
				<a class="head-tab" href="javascript:void(0)">
					
				</a>
			</div>
			<!--中间主体-->
			<div class="main big-main">
				<div class="main-inner">
					<div class="titile">请选择登陆身份 </div>
					<div class="user-box">
						<div class="box" :class="index==0?'active':''" @click="change(0)">社区合伙人</div>
						<div class="box" :class="index==1?'active':''" @click="change(1)">取送员</div>
						<div class="box" :class="index==2?'active':''" @click="change(2)">干洗店</div>
					</div>
					<div class="titile">手机快捷登录 </div>
					<div class="input-box">
						<input type="number" placeholder="请输入手机号" v-model="usCpPhone"/>
						<div class="addcode" @click="addcode">{{num}}</div>
					</div>
					<div class="input-box">
						<input type="number" placeholder="请输入短信验证码" v-model="code"/>
					</div>
					<div class="login-type">
						<a href="mlogin.html">密码账户登录</a>
					</div>
					<div class="login" @click="login">登录</div>
					<div class="login-type">
						<div @click="opennew('Agreement','')">登陆即视为同意 	<strong>《豆豆洗注册协议》</strong></div>
					</div>
					
					<!--<div class="three">
						<div class="thre-title">第三方登录 </div>
						<div class="three-box">
							<a href=""><img src="img/QQ@2x.png"/></a>
							<a href=""><img src="img/wxin.png"/></a>
						</div>
					</div>-->
				</div>
			</div>
		</div>
		<script src="js/mui.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var myvue=new Vue({
				el:'.wrapper',
				data:{
					num:'获取验证码',
					index:0,
					usCpPhone:''
				},
				methods:{
					login:function(){
						var that=this
						if(that.index==1){
//							取送员登陆 15805204773//  123456//
							var ajaxjson={
									phone:that.usCpPhone
								}
							console.log(ajaxjson)
							$.ajax({
								type:"post",
								url:localStorage.getItem('myurl')+"/fetch/selectUsStaffLogin",
								dataType:'json',
								data:ajaxjson,
								success:function(res){
									console.log(res)
									if(res.status==200){
										localStorage.setItem('uname',res.data.usStName)
										localStorage.setItem('uphone',res.data.usStPhone)
										localStorage.setItem('uapay',res.data.usStAliPayCode)
										localStorage.setItem('uid',res.data.usStaffId)
										localStorage.setItem('uwpay',res.data.usStWeChatPayCode)
										localStorage.setItem('utype',1)
										localStorage.setItem('uavatar',res.data.usStHeadImg)
										that.opennew('index')
									}else{
										that.alertshow(res.msg)
									}
								},
								error:function(err){
									console.log(err)
								}
							});
						}else if(that.index==2){
//							社区合伙人登陆
							var ajaxjson={
									phone:that.usCpPhone
							}
							$.ajax({
								type:"post",
								url:localStorage.getItem('myurl')+"/laundry/checkUsStoreLogin",
								dataType:'json',
								data:ajaxjson,
								success:function(res){
									console.log(res)
									if(res.status==200){
										localStorage.setItem('uname',res.data.usStShopName)
										localStorage.setItem('uphone',res.data.usStPhone )
										localStorage.setItem('uapay',res.data.usStAliPayCode)
										localStorage.setItem('uid',res.data.usStoreId)
										localStorage.setItem('uwpay',res.data.usStWeChatCode)
										localStorage.setItem('utype',2)
										localStorage.setItem('usCommunityPartnerId',res.data.usCommunityPartnerId)
										that.opennew('index')
									}else{
										that.alertshow(res.msg)
									}
								},
								error:function(err){
									console.log(err)
								}
							});
						}
					},
					addcode:function(){
						var set
							that=this;
						if(this.num=='获取验证码'){
							var that=this
							$.ajax({
								type:"post",
								url:localStorage.getItem('myurl')+"/usCityPartner/usCityGetShortCode",
								dataType:'json',
								data:{
									usCpPhone:that.usCpPhone
								},
								success:function(res){
									that.mycode=res.data
									that.num=60
									set=setInterval(function(){
										if(that.num!=1){
											that.num--
										}else{
											clearInterval(set)
											that.num='获取验证码'
										}
									},1000)
								}
							});
							
						}
					},
					opennew:function(target,id){
						mui.openWindow({
							url:'./'+target+'.html',
							id:target
						})
					},
					change:function(index){
						this.index=index
					}
				},
				mounted:function(){
					
				}
			})
		</script>
	</body>
</html>