<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="css/main.css" />
		<script src="js/rem.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<title></title>
	</head>
	<body>
		<div class="wrapper order dcartdetail">
			<!--头部-->
			<div class="header">
				<div class="head-tab mui-action-back">
					<img src="img/Arrow_Simple_left Copy@2x.png" class="back"/>
				</div>
				<div class="head-main">
					明细
				</div>
				<div class="head-tab">
					
				</div>
			</div>
			<!--中间主体-->
			<div class="main big-main" @scroll="myscroll" style="background: #FFFFFF;">
				<div class="main-inner">
					<div class="order-box" v-for="val in mydata" v-if="utype==2">
						<div class="order-right">
							<div class="order-title">
								<div class="order-h1">
									{{val.usSfdStyle | state}}
								</div>
								<div class="order-state">{{val.usSfdPrice}}</div>
							</div>
							<div class="order-bottom">
								<div class="order-price">余额:￥{{val.usSfdBalance}}</div>
								<div class="order-time">{{val.usSfdCreateTime}}</div>
							</div>
						</div>
					</div>
					<div class="order-box" v-for="val in mydata" v-if="utype==0">
						<div class="order-right">
							<div class="order-title">
								<div class="order-h1">
									{{val.usCpfdStyle | state02}}
								</div>
								<div class="order-state">{{val.usCpfdPrice}}元</div>
							</div>
							<div class="order-bottom">
								<div class="order-price">账户余额:￥{{val.usCpfdBalance}}</div>
								<div class="order-time">{{val.usCpfdCreateTimeString}}</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="js/mui.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var myvue=new Vue({
				el:'.wrapper',
				data:{
					navboo:false,
					mydata: [],
					pages:0,
					pageNum:0,
					utype: localStorage.getItem('utype')
				},
				methods:{
					opennew:function(type){
						if(type=='q'){
							window.location.href='./havetype.html'
						}else{
							
						}
					},
					myajax:function(){
						var that=this
						that.pageNum++
//						干洗店
						if(that.utype==2){
							
							$.ajax({
								type:"post",
								url:localStorage.getItem('myurl')+"/laundry/queryUsStoreWalletDetail",
								dataType:'json',
								data:{
									usStoreId:localStorage.getItem('uid'),
									pageNum:that.pageNum
								},
								success:function(res){
									console.log(res)
									that.pages=res.data.pages
									for(var i = 0; i < res.data.list.length; i++) {
										that.mydata.push(res.data.list[i])
									}
								}
							});
//						社区合伙人
						}else if(that.utype==0){
							$.ajax({
								type:"post",
								url:localStorage.getItem('myurl')+"/community/queryUsCommunityFinanceDetailed",
								dataType:'json',
								data:{
									usCommunityPartnerId:localStorage.getItem('uid'),
									pageNum:that.pageNum
								},
								success:function(res){
									console.log(res)
									that.pages=res.data.pages
									for(var i = 0; i < res.data.list.length; i++) {
										that.mydata.push(res.data.list[i])
									}
								}
							});
						}
					},
					myscroll: function() {
						var that = this
						if(Math.abs($('.main-inner').offset().top) + $('.main').height() + 200 >= $('.main-inner').height()) {
							if(that.pages>that.pageNum){
								function plusReady() {
									// 弹出系统等待对话框
									var w = plus.nativeUI.showWaiting("等待中...");
								}
								if(window.plus) {
									plusReady();
								} else {
									document.addEventListener("plusready", plusReady, false);
								}
								that.myajax()
							}
							
						}
					}
				},
				mounted:function(){
					this.myajax()
				},
				filters:{
					state:function(value){
						switch (value){
							case 1:
							return '收入'
								break;
							case 2:
							return '支出'
								break;
							case 3:
							return '洗涤消费'
								break;
							case 4:
							return '提现'
								break;								
						}
					},
					state02:function(value){
						switch (value){
							case 1:
							return '收入'
								break;
							case 2:
							return '支出'
								break;
							case 3:
							return '洗涤分成收入'
								break;	
							case 4:
							return '提现'
								break;
						}
					}
				}
			})
		</script>
	</body>
</html>