<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="css/main.css" />
		<script src="js/rem.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<title></title>
	</head>
	<style type="text/css">
		.button span {
			flex: 1;
			text-align: center;
		}
		input:-webkit-input-placeholder{
			color: gainsboro!important;
		}
		.button span:first-of-type {
			border-right: 1px solid #FFFFFF;
		}
	</style>

	<body>
		<div class="wrapper profit profitgo">
			<!--头部-->
			<div class="header">
				<div class="head-tab mui-action-back">
					<img src="img/Arrow_Simple_left Copy@2x.png" class="back" />
				</div>
				<div class="head-main">
					提现
				</div>
				<div class="head-tab" href="javascript:void(0)">

				</div>
			</div>
			<!--中间主体-->
			<div class="main big-main">
				<div class="profit-top">
					<!--<div class="subtitile" style="color: #096148;">提现金额</div>-->
					<input type="number" placeholder="请输入提现金额" v-model="price" />
					<div class="subtitile" v-if='utype==2'>
						<span>可提现额￥{{mydata.usSwBalance}}</span>
						<span>手续费￥{{price * mydata01.pbPfPercentage / 100}}</span>
					</div>
					<div class="subtitile" v-if='utype==0'>
						<span>可提现额￥{{mydata.usCpwBalance}}</span>
						<span>手续费￥{{price * mydata01.pbPfPercentage / 100}}</span>
					</div>
					<div class="profit-type" @click="alertshow02">
						<div>提现到</div>
						<div>{{style | mytype}}</div>
					</div>
				</div>
				<div class="withdraw" @click="submit">确认提现</div>
				<div class="alert" v-show="alertboo02" @click="alertshow02">
					<div class="alert-inner">
						<img src="img/Group 10@2x.png" />
						<div class="text">提现方式</div>
						<div class="button">
							<span v-if="usAliPayCode!='undefined'" @click="paytype(1)">支付宝</span>
							<span v-if="usWeChatPayCode!='undefined'" @click="paytype(2)">微信</span>
							<span v-if="usAliPayCode=='undefined'&&usWeChatPayCode=='undefined'" @click="opennew('rname')" style="border: 0;">您还没有绑定支付宝或者微信</span>
						</div>
					</div>
				</div>
				<div class="alert" v-show="alertboo" @click="alertshow">
					<div class="alert-inner">
						<img src="img/yes.png" />
						<div class="text">{{alerttext}}</div>
						<div class="button">
							<span v-if="usAliPayCode!='undefined'" @click="paytype(1)">支付宝</span>
							<span v-if="usWeChatPayCode!='undefined'" @click="paytype(2)">微信</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="js/mui.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var myvue = new Vue({
				el: '.wrapper',
				data: {
					alertboo: false,
					price: '',
					mydata: '',
					mydata01: '',
					alerttext: '',
					alertboo02: false,
					usAliPayCode: localStorage.getItem('uapay'),
					usWeChatPayCode: localStorage.getItem('uwpay'),
					style: '',
					utype: localStorage.getItem('utype')
				},
				methods: {
					opennew: function(target) {
						mui.openWindow({
							url: './' + target + '.html',
							id: target,
							createNew:true
						})
					},
					paytype: function(type) {
						this.style = type
					},
					alertshow02: function() {
						this.alertboo02 = !this.alertboo02
					},
					alertshow: function(text) {
						this.alerttext = text
						this.alertboo = !this.alertboo
					},
					submit: function() {
						if(this.price == '' || this.price == 0 || this.price > this.mydata[1]) {
							plus.nativeUI.toast('金额为空或余额不足！')
							return false;
						}
						if(this.style == '') {
							this.alertshow('请选择提现方式！')
							return false;
						}
						if(this.price<=this.mydata01.pbPfInitialAmount||this.price>=this.mydata01.pbPfMaxAmount){
							plus.nativeUI.toast('提现金额在'+this.mydata01.pbPfInitialAmount+' ~ '+this.mydata01.pbPfMaxAmount+'之间！')
							return false;
						}
						return false;
						var that = this
						var payCode;
						if(that.style == 1) {
							payCode = localStorage.getItem('usAliPayCode')
						} else {
							payCode = localStorage.getItem('usWeChatPayCode')
						}
						if(that.utype==2){
							if(that.mydata.usSwBalance>= (that.price + (that.price * that.mydata01.pbPfPercentage / 100))){
								$.ajax({
									type: "post",
									url: localStorage.getItem('myurl') + "/laundry/insertUsStoreTransaction",
									dataType: 'json',
									data: {
										usStoreId: localStorage.getItem('uid'),
										usStoreForMoney: that.price,
										usStServiceCharge: that.price * that.mydata01.pbPfPercentage / 100,
										usStAccountStyle: that.style,
										usStoreWalletId: that.mydata.usStoreWalletId
									},
									success: function(res) {
										console.log(res)
										if(res.data != 1) {
											alert('提现失败')
										} else {
											that.opennew('integral')
										}
									},
									error:function(err){
										console.log(err)
									}
								});
							}else{
								alert('余额不足')
							}
						}else{
							if(that.mydata.usCpwBalance>= (parseFloat(that.price) + (that.price * that.mydata01.pbPfPercentage / 100))){
								$.ajax({
									type: "post",
									url: localStorage.getItem('myurl') + "/community/insertUsCommunityTransaction",
									dataType: 'json',
									data: {
										usCommunityPartnerId: localStorage.getItem('uid'),
										usCommPartnerMoney: that.price,
										usCptServiceCharge: that.price * that.mydata01.pbPfPercentage / 100,
										usCptAccountStyle: that.style,
										usCommunityPartnerWalletId: that.mydata.usCommunityPartnerWalletId
									},
									success: function(res) {
										console.log(res)
										if(res.data != 1) {
											alert('提现失败')
										} else {
											that.opennew('integral')
										}
									},
									error:function(err){
										console.log(err)
									}
								});
							}else{
								alert('余额不足')
							}
						}
					},
					myajax: function() {
						var that = this
						if(localStorage.getItem('utype') == 2) {
							//							干洗店余额
							$.ajax({
								type: "post",
								url: localStorage.getItem('myurl') + "/laundry/queryUsStoreWalletMoney",
								dataType: 'json',
								data: {
									usStoreId: localStorage.getItem('uid')
								},
								success: function(res) {
									console.log(res)
									that.mydata = res.data
								}
							});
						} else if(localStorage.getItem('utype') == 0) {
							//							社区合伙人余额
							$.ajax({
								type: "post",
								url: localStorage.getItem('myurl') + "/community/queryCommunityWallet",
								dataType: 'json',
								data: {
									usCommunityPartnerId: localStorage.getItem('uid')
								},
								success: function(res) {
									console.log(res)
									that.mydata = res.data
								}
							});
						}
						//						获取提现规则
						$.ajax({
							type: "post",
							url: localStorage.getItem('myurl') + "/share/findPresentation",
							dataType: 'json',
							data: {
								userRole: 1
							},
							success: function(res) {
								console.log(res)
								that.mydata01 = res.data
							}
						});
					}
				},
				mounted: function() {
					this.myajax()
				},
				filters: {
					mytype: function(value) {
						switch(value) {
							case '':
								return '请选择提现方式'
								break;
							case 1:
								return '支付宝'
								break;
							case 2:
								return '微信'
								break;
						}
					}
				}
			})
		</script>
	</body>

</html>