<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="css/main.css" />
		<script src="js/rem.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<title></title>
	</head>

	<body>
		<div class="wrapper order trade">
			<!--头部-->
			<div class="header">
				<div class="head-tab mui-action-back">
					<img src="img/Arrow_Simple_left Copy@2x.png" class="back" />
				</div>
				<div class="head-main">
					干洗店收入
				</div>
				<div class="head-tab">

				</div>
			</div>
			<!--中间主体-->
			<div class="main big-main sharedetail">
				<div class="sharedetail-top">
					<div class="sharedetail-item">
						<p style="visibility: hidden;">123</p>
						<p>流水</p>
						<p class="yellow">收益</p>
					</div>
					<div class="sharedetail-item">
						<p>今日</p>
						<p v-if="mydata.mapDay!=null">￥{{mydata.mapDay.pbOrCountPrice}}</p>
						<p v-if="mydata.mapDay!=null">￥{{mydata.mapDay.usSfdPrice}}</p>
						<p v-if="mydata.mapDay==null">￥0</p>
						<p v-if="mydata.mapDay==null">￥0</p>
					</div>
					<div class="sharedetail-item">
						<p>当月</p>
						<p v-if="mydata.mapMonth!=null">￥{{mydata.mapMonth.pbOrCountPrice}}</p>
						<p v-if="mydata.mapMonth!=null">￥{{mydata.mapMonth.usSfdPrice}}</p>
						<p v-if="mydata.mapMonth==null">￥0</p>
						<p v-if="mydata.mapMonth==null">￥0</p>
					</div>
					<div class="sharedetail-item">
						<p>当季</p>
						<p v-if="mydata.mapQuarter!=null">￥{{mydata.mapQuarter.pbOrCountPrice}}</p>
						<p v-if="mydata.mapQuarter!=null">￥{{mydata.mapQuarter.usSfdPrice}}</p>
						<p v-if="mydata.mapQuarter==null">￥0</p>
						<p v-if="mydata.mapQuarter==null">￥0</p>
					</div>
				</div>
				<div class="order-main" @scroll="myscroll">
					<div class="main-inner">
						<div class="trade-top">
							<div class="trade-item" :class="myindex==0?'active':''" @click="indexchange(0)">
								<div class="text">今日</div>
								<div class="radius"></div>
							</div>
							<div class="trade-item" :class="myindex==1?'active':''" @click="indexchange(1)">
								<div class="text">当月</div>
								<div class="radius"></div>
							</div>
							<div class="trade-item" :class="myindex==2?'active':''" @click="indexchange(2)">
								<div class="text">当季</div>
								<div class="radius"></div>
							</div>
						</div>
						<div class="order-box" v-for="val in mydata01">
							<div class="order-right">
								<div class="order-bottom">
									<div class="order-price" style="white-space: nowrap;">订单号:{{val.pbOrderId}}</div>
									<div class="order-time">{{val.pbOrUpdateTimeDay}}</div>
								</div>
								<div class="order-bottom">
									<div class="order-price">流水</div>
									<div class="order-time">￥{{val.pbOrCountPrice}}</div>
								</div>
								<div class="order-bottom">
									<div class="order-price">收益</div>
									<div class="order-time yellow">￥{{val.usCpfdPrice}}</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="js/mui.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var myvue = new Vue({
				el: '.wrapper',
				data: {
					myindex: 0,
					mydata: '',
					mydata01: [],
					pages: 0,
					pageNum: 0
				},
				methods: {
					myscroll: function() {
						var that = this
						if(Math.abs($('.main-inner').offset().top) + $('.order-main').height() + 200 >= $('.main-inner').height()) {
							if(that.pages > that.pageNum) {
								function plusReady() {
									// 弹出系统等待对话框
									var w = plus.nativeUI.showWaiting("等待中...");
								}
								if(window.plus) {
									plusReady();
								} else {
									document.addEventListener("plusready", plusReady, false);
								}
								that.myajax()
							}

						}
					},
					indexchange: function(index) {
						this.myindex = index
						this.mydata01 = []
						this.pageNum = 0
						this.myajax()
					},
					opennew: function(type) {
						if(type == 'q') {
							window.location.href = './havetype.html'
						} else {

						}
					},
					myajax: function() {
						var that = this
						that.pageNum++
							if(localStorage.getItem('utype') == 2) {
								if(that.mydata == '') {
									//							顶部总和
									$.ajax({
										type: "post",
										url: localStorage.getItem('myurl') + "/laundry/selectUsStoreIncomeAll",
										dataType: 'json',
										data: {
											usStoreId: localStorage.getItem('uid')
										},
										success: function(res) {
											console.log(res)
											that.mydata = res.data
										}
									});
								}
								var ajaxjson = {
									usStoreId: localStorage.getItem('uid'),
									pageNum: that.pageNum
								}
								if(that.myindex == 0) {
									$.ajax({
										type: "post",
										url: localStorage.getItem('myurl') + "/laundry/selectUsStoreIncomeDay",
										dataType: 'json',
										data: ajaxjson,
										success: function(res) {
											console.log(res)
											that.pages = res.data.pages
											for(var i = 0; i < res.data.list.length; i++) {
												that.mydata01.push(res.data.list[i])
											}
										}
									});
								} else if(that.myindex == 1) {
									$.ajax({
										type: "post",
										url: localStorage.getItem('myurl') + "/laundry/selectUsStoreIncomeMonth",
										dataType: 'json',
										data: ajaxjson,
										success: function(res) {
											console.log(res)
											that.pages = res.data.pages
											for(var i = 0; i < res.data.list.length; i++) {
												that.mydata01.push(res.data.list[i])
											}
										}
									});
								} else {
									$.ajax({
										type: "post",
										url: localStorage.getItem('myurl') + "/laundry/selectUsStoreIncomeQuarter",
										dataType: 'json',
										data: ajaxjson,
										success: function(res) {
											console.log(res)
											that.pages = res.data.pages
											for(var i = 0; i < res.data.list.length; i++) {
												that.mydata01.push(res.data.list[i])
											}
										}
									});
								}

							}
					}
				},
				mounted: function() {
					this.myajax()
				}
			})
		</script>
	</body>

</html>