<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="css/main.css" />
		<script src="js/rem.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<title></title>
	</head>
	<style type="text/css">
		.wrapper, body, html{
			height: auto;
		}
	</style>
	<body>
		<div class="wrapper plogin wlogin">
			<!--头部-->
			<div class="header">
				<div class="head-tab mui-action-back">
					<img src="img/Arrow_Simple_left Copy@2x.png" class="back"/>
				</div>
				<div class="head-main">
					找回密码
				</div>
				<div class="head-tab">
					
				</div>
			</div>
			<!--中间主体-->
			<div class="main big-main">
				<div class="main-inner">
					<div class="input-box">
						<input type="text" placeholder="请输入新密码" v-model="phone"/>
					</div>
					<div class="input-box">
						<input type="text" placeholder="请再次输入新密码" v-model="nphone"/>
					</div>
					<div class="login" @click="login">立即找回</div>
				</div>
			</div>
			<div class="alert" v-if="alertboo" @click="alertshow('')">
					<div class="alert-inner">
						<div class="alert-top">豆豆洗</div>
						<div class="text alert-text">{{alerttext}}</div>
						<div class="button">确定</div>
					</div>
				</div>
		</div>
		<script src="js/mui.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var myvue=new Vue({
				el:'.wrapper',
				data:{
					phone:'',
					nphone:'',
					alerttext:'两次密码不一致',
					alertboo:false
				},
				methods:{
					alertshow:function(text){
						this.alerttext=text
						this.alertboo=!this.alertboo
					},
					login:function(){
						var that=this
//						取送员
						if(localStorage.getItem('utype')==1){
							if(that.phone==that.nphone){
								$.ajax({
									type:"post",
									url:localStorage.getItem('myurl')+"/fetch/updateComUsStaffInfo",
									dataType:'json',
									data:{
										usStaffId:localStorage.getItem('uid'),
										usStPassword:that.nphone
									},
									success:function(res){
										if(res.data==1){
											plus.nativeUI.toast('修改完成')
										}
									}
								});
							}else{
								that.alertshow('两次密码不一致')
							}
//						干洗店
						}else if(localStorage.getItem('utype')==2){
							if(that.phone==that.nphone){
								$.ajax({
									type:"post",
									url:localStorage.getItem('myurl')+"/laundry/updateUsStorePasswordPay",
									dataType:'json',
									data:{
										usStoreId:localStorage.getItem('uid'),
										usStPassword:that.nphone
									},
									success:function(res){
										if(res.data==1){
											plus.nativeUI.toast('修改完成')
										}
									}
								});
							}else{
								that.alertshow('两次密码不一致')
							}
						}
						
					}
				},
				mounted:function(){
					
				}
			})
		</script>
	</body>
</html>